#background-header-image {
  margin-top: -55px;
  height: 364px;
  position: relative;
  width: 100%;
  background: #2f9fb7;
  background-image: url('../images/about-header.png');
  background-size: cover;
  max-height: 1000px;
}

.header-text {
  padding-top: 170px;
}

.footer {
  padding-top: 0;
}

.background-footer-image {
  height: 300px;
  position: relative;
  width: 100%;
  background: #27343D;
  background-image: url('../images/about-footer.png');
  background-size: cover;
  max-height: 1000px;
}

.teamlist {
  width: 600px;
  margin: 0 auto;
}

.teamlist > li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.teamlist > li > .teampic {
  position: absolute;
  border-radius: 50%;
  right: 100%;
  top: 0;
  background-size: 100%;
  background-position: center center;
  margin-right: 20px;
  background-color: #333;
  width: 75px;
  height: 75px;
}

.teamlist > li > .teamname {
  margin-bottom: 10px;
  line-height: 1em;
  position: relative;
}

.teamname strong {
  font-size: 16px;
}

.teamname em {
  opacity: .7;
}

.teamname > ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.teamname > ul > li {
  float: left;
  margin-left: 10px;
}

.teamname > ul > li.github > a {
  background: url("../../images/github.png") no-repeat center center;
}
.teamname > ul > li.twitter > a {
  background: url("../../images/twitter.png") no-repeat center center;
}

.teamname > ul > li > a {
  width: 20px;
  height: 20px;
  display: block;
  opacity: .7;
}

.teamname > ul > li > a:hover {
  opacity: 1;
}

.teamlist #team-max .teampic {
  background-image: url('../../images/team_max.jpg');
}

.teamlist #team-alex .teampic {
  background-image: url('../../images/team_alex.jpg');
}

.teamlist #team-pawel .teampic {
  background-image: url('../../images/team_pawel.jpg');
}

.teamlist #team-olga .teampic {
  background-image: url('../../images/team_olga.jpg');
}

.teamlist #team-sylvain .teampic {
  background-image: url('../../images/team_sylvain.jpg');
}

.teamlist #team-jonas .teampic {
  background-image: url('../../images/team_jonas.jpg');
}

.teamlist #team-daniel .teampic {
  background-image: url('../../images/team_daniel.jpg');
}

.teamlist #team-robin .teampic {
  background-image: url('../../images/team_robin.jpg');
}

.teamlist #team-mike .teampic {
  background-image: url('../../images/team_mike.jpg');
}

.teamlist #team-laurie .teampic {
  background-image: url('../../images/team_laurie.jpg');
}

.teamlist #team-loic .teampic {
  background-image: url('../../images/team_loic.jpg');
}

.teamlist #team-hamilton .teampic {
  background-image: url('../../images/team_hamilton.jpg');
}

.teamlist #team-lauren .teampic {
  background-image: url('../../images/team_lauren.jpg');
}

.teamlist #team-guy .teampic {
  background-image: url('../../images/team_guy.jpg');
}

.teamlist #team-james .teampic {
  background-image: url('../../images/team_james.jpg');
}

.teamlist #team-jamie .teampic {
  background-image: url('../../images/team_jamie.jpg');
}

#abt-values .number {
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.6em;
  font-size: 40px;
  color: #fff;
  background-color: #58b7e7;
  border-radius: 5px;
  text-align: center;
}

#abt-values h3 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
  color: #404040;
  line-height: 28px;
}

#abt-values .row {
  margin-bottom: 30px;
}

#abt-values .col-md-4 {
  text-align: center;
}

#abt-values .col-md-4 p {
  font-size: 14px;
  line-height: 22px;
  color: #777;
}

.content-intro {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin: 30px auto;
}

h2.pill {
  font-size: 14px!important;
  text-transform: uppercase!important;
  letter-spacing: 2px!important;
  font-weight: 600!important;
  text-align: center!important;
  margin: 0 0 40px 0!important;
}

.pill-text {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
}

.light-pill {
  color: #47525e;
  background-color: #fff;
}

.dark-pill {
  color: #fff;
  background-color: #47525e;
}

.logos {
  display: none;
}

.sec-silver {
  background-color: #e8ecf0;
  color: #526375;
}

.content-section {
  padding: 4em;
}

.thinner-container {
  width: 85%;
}

.btn-default:hover {
  color: #27343D;
}

.footer-call {
  margin-bottom: 0;
}

.logos-padder {
  display: none;
}