.header-text {
  padding-top: 145px;
}

#background-header-image {
  margin-top: -60px;
  height: 364px;
  position: relative;
  width: 100%;
  background: #2C3B46;
  max-height: 1000px;
}

.form-input {
  color: #A9A9A9;
}

.form-textarea {
  width: 100%;
  height: 200px;
}

.form-input {
  width: 100%;
  height: 36px !important;
}

#submit-section {
  text-align: center;
  color: #868686;
}

#submit-section p {
  margin-top: 16px;
  font-size: 21px;
  font-weight: 300;
}

#submit-section button {
  margin-top: 6px;
  margin-bottom: 30px;
  font-weight: 100;
  border-radius: 4px;
}

.contact-form-section {
  padding-top: 50px;
}

.flash-message {
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.flash-notice, .flash-thanks {
  background-color: #EFFEF9;
  color: #82D3B6;
}

.flash-alert {
  background-color: #f4a7a5;
  color: #aa3a3e;
}

#recaptcha div div {
  margin: 0 auto;
}

.support-block {
  background: #E9F0F2;
  padding-top: 65px;
  padding-bottom: 85px;
  color: #A9A9A9;
  font-size: 18px;
  font-weight: 200
}

.support-block h2 {
  font-size: 26px;
  font-weight: 200;
  margin:0;
  margin-bottom: 20px;
}


.support-block a {
  color: #40bad8;
  font-weight: 400;
  text-decoration: none;
}

.support-block a:hover {
  color: #27a0be;
}