#itv-logo {
  width: 65px;
}

#github-logo {
  width: 120px;
}

#coinbase-logo {
  width: 125px;
}

#akqa-logo {
  width: 70px;
  margin-top: 6px;
}

#nyt-logo {
  width: 200px;
  margin-top: 7px;
}

#mongohq-logo {
  margin-top: 5px;
  width: 160px;
}

#travis-logo {
  width: 90px;
}

#logos-text {
  margin: 0 auto 1em;
  font-size: 18px;
  color: #a9a9a9;
  font-weight: 100;
}

.logos {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0 110px;
}

.logos ul{
  list-style-type: none;
  padding-left: 0;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

li {
  padding: 0;
}

.logos img{
  margin: 0;
  width: 120px;
  bottom: 0;
}

.logos ul li {
  display: inline-block;
  margin: 0 20px;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

@media(max-width: 1199px) {
  .logos ul {
    text-align: center;
  }

  .logos img{
    margin: 10px 18px;
  }
}