#itv-logo {
  width: 55px;
}

#quizup-logo {
  width: 100px;
}

.logos-padder {
  margin-top: 50px;
}

#ft-logo {
  width: 170px;
}

#github-logo {
  width: 100px;
}

#codeship-logo {
  width: 130px;
}

#logos-text {
  margin: 2em auto 1em;
  font-size: 18px;
  color: #a9a9a9;
  font-weight: 100;
}

.logos {
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logos ul{
  list-style-type: none;
  padding-left: 0;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

li {
  padding: 0;
}

.logos img{
  margin: 10px 0px;
  width: 120px;
  bottom: 0;
}

.logos ul li {
  display: inline-block;
  margin: 0 20px;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

@media(max-width: 1199px) {
  .logos ul {
    text-align: center;
  }

  .logos img{
    margin: 10px 18px;
  }
}