.enterprise-header {
  background-image: url('../images/enterprise-header.png');
}

.enterprise-header .header-text {
  padding-top: 0;
}

#submit-section button {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 600;
}

#enterprise-customer-support {
  background-image: url('../images/enterprise-customer-support.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 430px;
}

.enterprise-contact-header {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  color: #515859;
}

.enterprise-customer-support {
  height: 430px;
}

@media (max-width: 991px) {
  .enterprise-customer-support {
    height: 200px;
  }

  .enterprise-customer-support .header, .enterprise-customer-support .subheading {
    text-align: center;
  }

  .landing-page-header .container {
    padding-top: 275px;
  }
}