#background-header-image {
  margin-top: -55px;
  height: 364px;
  position: relative;
  width: 100%;
  background: #2f9fb7;
  background-image: url('../images/jobs-header.png');
  background-size: cover;
  max-height: 1000px;
}

.header-text {
  padding-top: 130px;
}

.number-list1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.number-list1 li {
  margin: 0 0 2em 0;
  padding: 0;
  float: left;
}

.numb {
  float: left;
  font-size: 28px;
  height: 2em;
  line-height: 2em;
  margin-right: .5em;
  padding: 0 .5em;
  opacity: .6;
  font-weight: 500;
  background-color: #B7C9DB;
  color: #fff;
  text-align: center;
  font-style: italic;
  border-radius: .3em;
}

h2.pill {
  font-size: 14px!important;
  text-transform: uppercase!important;
  letter-spacing: 2px!important;
  font-weight: 600!important;
  text-align: center!important;
  margin: 0 0 40px 0!important;
}

.pill-text {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
}

.light-pill {
  color: #47525e;
  background-color: #fff;
}

.dark-pill {
  color: #fff;
  background-color: #47525e;
}

.sec-silver {
  background-color: #e8ecf0;
  color: #526375;
}

.sec-bluedark {
  background-color: #27343d;
  color: rgba(255,255,255,.8);
}

.ticklist {
  text-align: center;
}

.ticklist li {
  color: inherit;
  background: url('../images/tick.html') no-repeat .5em center rgba(255,255,255,.1);
  display: inline-block;
  padding: .5em .5em .5em 2em;
  margin: 0 .5em .5em 0;
  background-size: 1em;
  font-size: 20px!important;
}

.sec-bluelight {
  background-color: #58b7e7;
  color: white;
}

.content-section {
  padding: 4em;
}

.content-intro {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin: 30px auto;
}

.larger {
  font-size: 16px;
}

.take-space {
  width: 100%;
}

.thinner-container {
  width: 85%;
}

.focus-grid {
  text-align: center;
}

.focus-grid img{
  width: 65px;
}

#job-looking {
  background-image: url('../../images/user.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.click-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.click-list > li {
  margin: 0 0 20px 0;
}

.click-box {
  display: block;
  border-radius: .3em;
  color: inherit;
  background-color: #F3F6F8;
  text-align: left;
}

.click-box:hover {
  text-decoration: none;
  color: inherit;
  background-color: #E4F2FC;
}

.click-box > .padder {
  padding: 15px;
}

.click-box strong {
  position: relative;
  font-size: 16px;
  margin-bottom: .3em;
  display: block;
  color: #227bc0;
}

.click-box strong > div {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 12px;
  color: #999;
}

.small-center {
  text-align: center;
  width: 60%;
  margin: auto;
}

/* Workable.com widget styling */

#whr_embed_hook .whr-items,
#whr_embed_hook .whr-item,
#whr_embed_hook .whr-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

#whr_embed_hook .whr-item {
  margin-bottom: .5rem;
  padding: 15px;
  position: relative;
}

#whr_embed_hook .whr-item:hover {
  text-decoration: none;
  background-color: #E4F2FC;
}

#whr_embed_hook .whr-item:last-child {
  margin-bottom: 0;
}

#whr_embed_hook .whr-toggle:first-child {
  margin-top: 0;
}


/* Hide useless info*/
li.whr-dept, li.whr-date  {
  display: none; 
}
li.whr-location span  {
  display: none; 
}

ul.whr-info {
  position: absolute;
  right: 40px;
  top: 23px;
}

li.whr-location {
  font-weight: 500;
  font-size: 12px;
  color: #999;
}


#whr_embed_hook .whr-title {
  margin-top: 0;
}

#whr_embed_hook .whr-title a {
  margin: 0;
  padding: .5rem 0;
  position: relative;
  font-size: 16px;
  margin-bottom: .3em;
  display: block;
  color: #227bc0;
  font-weight: bold;
}

/* remove job location on mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
  ul.whr-info {
    display: none;
  }
}