.red-link {
  color: #eb0752;
}

.red-link:hover {
  color: #fb3568;
}

pre[class*="language-"] {
  background: transparent;
  border: none;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  background: transparent;
}

.landing-page-header {
  background-image: url('../images/product-hunt-header-bck.png');
  height: 723px;
  overflow: hidden;
}

.landing-page-header img {
  max-width: 100%;
}

.main-content {
  color: #515859;
  padding-top: 100px;
  padding-bottom: 110px;
}

.hexagon {
  position: absolute;
  top: -40;
  left: -32;
}

.hexagon-shape {
  color: #232E35;
  font-size: 70px;
}

.hexagon-text {
  margin-top: -57px;
  margin-left: 25px;
  color: #e3e3e3;
  font-size: 20;
}

.landing-page-header img {
  margin-top: 140px;
}

.large-half-text {
  text-align: left;
  padding: 0 25px;
}

.header-text .btn {
  margin-right: 15px;
}

.header-buttons {
  margin-top: 20px;
}

.header-button {
  text-align: center;
}

.align-center {
  text-align: center;
}

.align-center p.intro, .align-center p.intro-subheading {
  text-align: center;
}

p.intro {
  text-align: left;
  font-weight: normal;
}

.intro-subheading {
  color: #e3e3e3;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 4px;
}

.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-weight: 100;
}

.content-list {
  color: #626869;
  font-weight: 200;
}

.list-light {
  color: #e3e3e3;
}

.list-dark {
  color: #626869;
}

.list li {
  font-size: 16px;
  background: url('../images/bullet-circle.png') no-repeat left 3px;
  text-align: left;
  padding-left: 25px;
  margin-top: 15px;
}

.main-content-row {
  margin: 0 45px;
  padding-bottom: 100px;
  color: #515859;
  border-left: 1px solid #232E35;
  margin-right: 20px;
}

  .main-content-row:last-child {
    padding-bottom: 0;
  }

.main-content .container {
  padding-bottom: 10px;
}

.main-content .container div:last-of-type {
  border: none;
}

.main-content-row .header {
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 15px;
  line-height: initial;
}

.main-content-row .row-text {
  color: #626869;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
}

.code-body {
  background-color: #E9F0F2;
  width: 100%;
  border-right: 26px solid #3B97AC;
  padding: 20px 10px 55px 25px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: inline-block;
}

.code-body pre {
  word-break: break-all; /* webkit */
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap; /* fennec */
  white-space: pre-wrap;
  white-space: pre\9; /* IE7+ */
}

.code-copy-button {
  background-color: #3B97AC;
  width: 70px;
  text-align: center;
  color: #FFF;
  border-radius: 5px;
  padding: 4px 8px;
  font-family: "Helvetica Neue",Helvetica,'Open Sans',Verdana,Arial,sans-serif;
  right: 50;
  bottom: 10;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.code-copy-button.zeroclipboard-is-hover {
  background-color: #44b2cb;
  -webkit-transition: background 0.4s ease 0s;
  -moz-transition: background 0.4s ease 0s;
  -o-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
  cursor: pointer;
}

.html-tag-symbol {
  position: absolute;
  top: 2;
  right: 18;
  color: #FFF;
}

.row-content {
  width: 90%;
  float: right;
}

.teal-highlight-box {
  background-color: #CAE6EC;
  padding: 10px 12px;
  margin: 8px;
  font-size: 18px;
  font-weight: 200;
}

.light-teal-highlight {
  background-color: #E9F0F2;
  padding: 3px;
}

.bg-image-pane {
  background-image: url('../images/product-hunt-panel-bck.jpg');
  background-size: cover;
}

.atom-image-pane {
  background-image: url('../../images/tutorials/atom-pair/atom-panel.png');
  background-size: cover;
}

.vertical-center-container {
  display: table;
  height: 100%;
}

.vertical-center-content {
  display: table-cell;
  vertical-align: middle;
}

.large-half-text .header {
  font-size: 32px;
  font-weight: 300;
  color: #FFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.large-half-text {
  text-align: left;
  padding: 0 25px;
}

.half-text-light .header {
  color: #FFF;
}

.half-text-dark .header {
  color: #515859;
}

.large-half-text .subheading, .signup-pane .subheading {
  font-size: 18px;
  font-weight: 100;
}

.half-text-light .subheading, .signup-pane .subheading {
  color: #e3e3e3;
}

.half-text-dark .subheading {
  color: #626869;
}

.signup-pane {
  background-color: #27343d;
  background: url('../../prom/images/new_landing_page/footer-map.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
}

.signup-pane .header {
  color: #f0f5f6;
  font-size: 32px;
  font-weight: 200;
}

.signup-pane .btn {
  margin-top: 10px;
}

.simple-text-pane {
  text-align: center;
}

.simple-text-pane .text-content {
  width: 55%;
  font-size: 26px;
  margin: auto;
  font-weight: 200;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.carousel-pane {
  width: 100%;
  min-height: 250px;
}

.carousel-item {
  height: 600px;
}

.carousel-logo {
  margin-bottom: 10px;
}

.carousel-outer-container {
  position: relative;
}

.ft-carousel {
  background-image: url('../images/ft-carousel.png')
}

.itv-carousel {
  background-image: url('../images/itv-carousel.png')
}

.nyt-carousel {
  background-image: url('../images/nyt-carousel.png')
}

.coinbase-carousel {
  background-image: url('../images/coinbase-carousel.png')
}

.simplymeasured-carousel {
  background-image: url('../images/simplymeasured-carousel.png')
}

@media (max-width: 600px) {
  .carousel-item {
    height: 600px;
  }
}

@media (max-width: 1199px) {
  .header-buttons {
    text-align: center;
  }

  .header-buttons .btn {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .code-body {
    margin-top: 20px;
    margin-left: 9%;
    width: 89%;
  }

  .usp {
    padding: 20px;
  }

  .img-half {
    text-align: center;
    margin-top: 60px;
  }

  .landing-page-header .container {
    padding-top: 100px;
  }

  .landing-page-header, p.intro, p.intro-subheading {
    text-align: center;
  }

  .landing-page-header .vertical-center-container {
    height: auto;
  }

  .landing-page-header img {
    margin-top: 40px;
  }

}

@media (max-width: 1200px) and (min-width: 991px) {
  .landing-page-header {
    height: 600px;
  }
}