.navbar-header {
  padding-top: 8px;
}

@media (max-width: 767px) {
  .navbar-header {
    background-color: #172935;
  }
}

@media (max-width: 991px) {
  .small-logo {
    height: 37px;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }

  .full-logo {
    height: 0;
    width: 0;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
}

@media (min-width: 992px) {
  .small-logo {
    height: 0;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }

  .full-logo {
    height: 37px;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
}