/*.intro-subheading {
  letter-spacing: 1.5;
}*/

.usp-section-header.enterprise-title {
  margin-bottom: 30px;
}

.usp-section-header-light h1{
    text-align: center;
    font-weight: 200;
    font-size: 32px;
    color: #fff;
    margin-top: 0;
    }

    .three-usp-pane .usp-header-light {
    font-size: 21px;
    font-weight: 200;
    padding-bottom: 8px;
    color: #fff;
}

.four-usp-pane .usp-icon.enterprise-icon {
  font-size: 42px;
}

.usp-icon-dark{
    font-size: 42px;
    padding-bottom: 10px;
    color: #47dae7;
}

.features-cta p{
  font-size: 21px;
  color: #fff;
  margin-top: 50px;
  font-weight: 200;
}

.features-cta hr{
  opacity: 0.05;
  padding-top: 20px;
  margin-top: 80px;
}

#background-header-image {
  margin-top: -60px;
  height: 550px;
  position: relative;
  width: 100%;
  background: -webkit-linear-gradient(left, #2193b0 , #6dd5ed); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2193b0 , #6dd5ed); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2193b0 , #6dd5ed); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #2193b0 , #6dd5ed); /* Standard syntax */
  background-size: cover;
  max-height: 1000px;
}

.plan {
  text-align: center;
}

.plan-header-info {
  background-color: #232E35;
  color: white;
  border-right: 1px solid #3B464E;
  border-bottom: 1px solid #3B464E;
  padding: 35px 0 20px 0;
}

.plan-header-info-highlight {
  background-color: #232E35;
  color: #5CFDF4;
  border-right: 1px solid #3B464E;
  border-bottom: 1px solid #3B464E;
  padding: 35px 0 20px 0;
}

.plan-description-header {
  background: transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 35px 0 20px 0;
}

.plan-description-info {
  background-color: #E9F0F2;
  font-size: 16px;
  font-weight: 300;
}

.plan-description-info-highlight {
  background-color: #CAE6EC;
  font-size: 16px;
  font-weight: 300;
}

.plan-headers {
  font-weight: 600;
}

.plan-name {
  font-size: 20px;
}

.sub-plan-name {
  font-size: 16px;
}

.per-month-text {
  font-size: 16px;
}

.sub-plan-name, .per-month-text {
  color: #81868A;
}

#call-section {
  text-align: center;
}

#call-section p {
  font-weight: 300;
  margin: 0;
}

#call-section button {
  margin-top: 1.2em;
}

#call-text {
  font-size: 26px;
}

.plan-column {
  padding-right: 0;
  padding-left: 0;
}

.fifth-column {
  width: 20%;
}

.thinner-container {
  width: 75%;
}

.pricing-table {
  margin-top: -220px;
  color: #5F5F5F;
}

.extras, .messages, .channels, .connections, .support, .features {
  border-right: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid white;
  padding: 25px 0;
}

.extras-left-column, .messages-left-column, .channels-left-column, .connections-left-column, .encryption-left-column, .support-left-column, .features-left-column {
  /*border-left: 1px solid #D9D9D9;*/
}

.extras-highlight, .messages-highlight, .channels-highlight, .connections-highlight, .support-highlight, .features-highlight {
  border-right: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D6F0F7;
  padding: 25px 0;
}

.encryption {
  padding: 25px 0;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.no-encryption {
  color: #D5D5D5;
  text-decoration: line-through;
  padding: 25px 0;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.plan-price-number {
  font-size: 65px;
  font-weight: 100;
}

.plan-price-currency {
  position: relative;
  top: -32px;
  font-size: 16px;
}

.header-buttons {
  text-align: center;
}

.header-buttons button {
  display: inline-block;
  margin: 10px 10px;
}

.fulllight {
  background-color: #E9F0F2;
  box-shadow: inset 0 0 0.8em #d8d8d8;
}

.featurette-image {
  height: 60px;
  margin-bottom: 10px;
}

.featurette-section {

  text-align: center;
}

.dark-pane{
  background-color: #2b3842;
}

.blue-bar {
  width: 30px;
  border-bottom: 2px solid #2396B0;
  margin: 7px auto;
}

.featurette-column {
  text-align: center;
}

.featurette-sub-text {
  font-size: 16px;
  font-weight: 300;
}

#enterprise-call-text {
  font-size: 32px;
}

#enterprise-contact-text {
  font-size: 21px;
}

.enterprise-feature-heading {
  font-size: 21px;
  color: #505050;
  padding-top: 15px;
  padding-bottom: 10px;
}

.faq .container {
  padding: 0 100px 0 100px;
  margin-top: 60px;
}

.faq {
  background: #f0f5f6;
  color:#3b3b3b;
  padding-top: 100px;
  padding-bottom: 110px;
}

.faq-section-header {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.question {
  padding: 15px;
}


.question-header {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 10px;
}

.question-info {
  color: #898989;
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .pricing-table {
    margin-top: -140px;
  }

  .intro-subheading {
    padding: 0 10px;
  }

  .header-buttons button {
    margin: 10px;
  }
}

@media (max-width: 991px) {
  .usp {
    margin-top: 40px;
  }
}

.glyphicon {
  color: #409fb4;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.glyphicon:hover {
  color: black;
}

.sandbox-info {
  background-color: #E9F0F2;
  color: #5F5F5F;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #D9D9D9;
  padding: 25px;
}

.text-center {
  text-align: center;
}

.sandbox-blurb {
  border-left: 0;
  padding-left: 50px;
}

.sandbox-sm {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

@media (max-width: 991px) {
  .sandbox-blurb {
    text-align: center;
    border-top: none;
    border-left: 1px solid #D9D9D9;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .sandbox-blurb {
    display: table;
  }

  .sandbox-blurb span {
    display:table-cell;
    vertical-align:middle;
  }

  .plan-header-info, .plan-header-info-highlight {
    height: 200px;
  }

  .price-right {
    margin-top: 0;
  }

  .ten-million-msg {
    font-size: 15px;
    padding: 25.5px 0px;
  }

}

hr{
  color: #28363e;
}

.three-usp-pane {
  margin-top: 50px;
}
.three-usp-pane .usp-info {
  font-size: 16px;
  width:90%;
  color: #b2b6b7;
  line-height: 1.3;

}

@media screen and (max-width: 991px){
  
  .plan-column{
    width: inherit;
  }

  .pp-connections::after, .pp-connections-highlight::after{
    content: ' max. connections';
  }  

  .pp-messages::after, .pp-messages-highlight::after {
    content: ' messages/day';
  }

  .pp-channels::after, .pp-channels-highlight::after {
    content: ' channels';
  }

  .pp-features::after, .pp-features-highlight::after {
    content: ' features' !important;
  }

  .pp-support::after, .pp-support-highlight::after {
    content: ' support';
  }

}