#signup-email {
  background: #ffffff url("../images/signup-email.png") no-repeat 6px center; background-size:22px 22px;
}

#signup-password {
  background: #ffffff url("../images/signup-password.png") no-repeat 8px center; background-size:20px 24px;
}

#logo-container {
  text-align: center;
}

.email-section, .password-section {
  position: relative;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
}

*::-moz-placeholder {
  color: black;
}

#signup-form div img {
  transition: all 0.25s;
  -webkit-transition: all 0.25s; /* Safari */
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  position: absolute;
  top: 7px;
  right: 7px;
  height: 0;
  margin-bottom: 0;
}

.tandcs {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}

#signup-form {
  text-align: center;
}

#signup-form form {
  margin-bottom: 0;
}

.form-input {
  width: 100%;
  height: 40px !important;
}

.parent-width-container {
  width: 100%;
}

.signup-section {
  text-align: center;
}

.full-w-h-container {
  width: 100%;
  margin: auto;
}

.col-header-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

#content-box {
  width: 430px;
  margin: auto;
  background-color: #FFF;
  padding: 30px;
  border-radius: 6px;
  height: 250px;
}

#call-header {
  font-weight: 100;
  padding-top: 25px;
  font-size: 32px;
  color: #FFF;
}

#call-subheading {
  font-size: 20px;
  font-weight: 100;
  color: #FFF;
  padding-bottom: 30px;
}

.bold-white {
  font-weight: 200;
}

.signup_form .form-input {
  padding-left: 40px;
  margin-bottom: 17px;
  height: 46px !important;
}

body {
  width: 100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5CBCD2), to(#1E88A7));
  background: -webkit-linear-gradient(left, #1E88A7, #5CBCD2);
  background: -moz-linear-gradient(left, #1E88A7, #5CBCD2);
  background: -ms-linear-gradient(left, #1E88A7, #5CBCD2);
  background: -o-linear-gradient(left, #1E88A7, #5CBCD2);
}

.vertical-center-container {
  display: table;
  height: 100%;
}

.vertical-center-content {
  display: table-cell;
  vertical-align: middle;
}

.v-90-percent {
  height: 90%;
}

.login-link {
  color: #d9e9ed;
  text-decoration: none;
  float: right;
  margin-top: 11px;
}

.login-link:hover {
  color: #EB0752;
  text-decoration: none;
}

.navbar-container {
  margin-top: 11px;
}

.suggestion {
  height: 0;
  visibility: hidden;
  float: right;
  margin-top: -8px;
  margin-bottom: 2px;
  -webkit-transition:visibility 0s linear 0.2s, height 0.2s linear;
  -moz-transition:visibility 0s linear 0.2s, height 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, height 0.2s linear;
  -o-transition:visibility 0s linear 0.2s, height 0.2s linear;
  transition:visibility 0s linear 0.2s, height 0.2s linear;
}

.suggestion-link {
  z-index: 1;
  position: relative;
  color: #eb0752;
}

.suggestion-link:hover {
  color: #fb3568;
  cursor: pointer;
}

#centered-footer {
  text-align: center;
  color: white;
  font-weight: 100;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.divider-container {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 100;
  color: #707070;
  position: relative;
  width: 100%;
}

.divider-container div {
  display: inline-block;
}

.divider {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  top: 14px;
  position: absolute;
  left: 0;
}

.divider-text {
  position: inherit;
  z-index: 1;
  background: #FFFFFF;
  padding: 0 4px;
}

.social-button i {
  position: absolute;
  font-size: 26px;
  left: 40px;
  top: 8px;
}

.social-button {
  font-weight: 400;
  position: relative;
  padding: 10px 0;
  width: 48%;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s; /* Safari */
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  cursor: pointer;
}

.github-button {
  float: left;
  color: #000000;
  border-color: #000000;
}

.google-button {
  float: right;
  color: #CD3F30;
  border-color: #CD3F30;
}

.google-button i {
  left: 45px;
}

.github-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.google-button:hover {
  color: #FFFFFF;
  background-color: #CD3F30;
}

@media (max-width: 767px) {
  .signup_button {
    font-size: 13px;
  }

  #content-box {
    width: 70%;
    margin-top: 10px;
  }

  #call-header {
    padding-top: 10px;
  }

  .google-button i {
    left: 25%;
  }

  .github-button i {
    left: 22%;
  }
}

@media (max-width: 991px) {
  .small-logo {
    height: 37px;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }

  .full-logo {
    height: 0;
    width: 0;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
}

@media (min-width: 992px) {
  .small-logo {
    height: 0;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }

  .full-logo {
    height: 37px;
    transition: height 0.4s;
    -webkit-transition: height 0.4s; /* Safari */
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
}

@media (max-width: 845px) {
  #content-box {
    margin-top: 10px;
  }
}

@media (max-width: 540px) {
  #content-box {
    width: 90%;
  }

  .google-button i {
    left: 18%;
  }

  .github-button i {
    left: 15%;
  }
}