#background-header-image {
  margin-top: -55px;
  height: 364px;
  position: relative;
  width: 100%;
  background: #2f9fb7;
  background-image: url('../images/customer-stories-header.png');
  background-size: cover;
  max-height: 1000px;
}

.header-text {
  padding-top: 130px;
}

.old-logos-container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.old-logos-container .logos {
  opacity: 1.0;
}

.old-logos-container .container {
  width: 100%;
}

.old-logos-container .container ul {
  margin-left: 0;
}

.content-intro {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #949494;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.solution-text {
  padding: 20px 20px 0 20px;
  min-height: 142px;
}

.solution-box {
  background-color: #F3F6F8;
}

.solution-box:hover {
  background-color: #E4F2FC;
}

.solution-text p {
  padding-top: 10px;
  color: #000000;
}

.solution-text strong {
  color: #227bc0;
}

.solution-image {
  width: 100%;
}

.solutions-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.click-box1 {
  text-decoration: none;
}

.click-box1:hover {
  text-decoration: none;
  color: inherit;
}