/* @override http://localhost:3000/stylesheets/app.css */

/* @override http://localhost:3000/stylesheets/app.css */

body.jobs .job-section {
  padding: 50px 0;
}

body.jobs {
  padding-top: 49px;
}

.job-section .span6 {
}

.job-section#job-head {
  text-align: center;
  background: url('../images/jobs1.jpg') no-repeat top center;
}

.job-section h1 span {
  background-color: rgba(0,0,0,.3);
}

.job-section#job-impact {
  background-color: #e8ecf0;
  color: #47525e;
}
.job-section#job-impact h2 span {
  color: #fff;
  background-color: #47525e;
}

.openings li h3 {
  position: relative;
}

.openings li h3 div {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
  opacity: .8;
  font-size: 12px;
}

.job-section .still {
  text-align: center;;
}

.threethings li {
  padding-bottom: 20px;
  margin-bottom: 20px!important;
  border-bottom: 1px dashed rgba(0,0,0,.2);
}

.threethings li:last-child {
  border: 0;
}

.job-section#job-work h2 span {
  background-color: #fff;
  color: #3d59a8;
}

.numb {
  float: left;
  font-size: 28px;
  height: 50px;
  line-height: 1em;
  padding-right: .5em;
  opacity: .6;
  font-weight: 500;
  font-style: italic;
}

.job-section p {
  font-size: 14px;
  line-height: 22px;
}

.openings {
  margin-bottom: 75px!important;
}

.job-section#job-work {
  background-color: #3d59a8;
  color: #fff;
}

.job-section#job-impact img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
}

#job-impact .span6 {
  margin: 0 30px;
  width: 420px;
}

#job-you .bigger {
  color: #47525e;
}

#job-you .span4 img {
  width: 65px;
}

#job-you .span4 {
  text-align: center;
}

.job-section h3 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
  color: #47525e;
}

.job-section#job-you {
  background-color: #e8ecf0;
  color: #859ab0;
}

.job-section .button {
  border-radius: 3px;
  background-color: #6DB64C;
  color: #fff;
  line-height: 5em;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 3em;
  font-size: 12px;
  text-transform: uppercase;
}

.ticklist {
  text-align: center;
}

.ticklist li {
  color: #fff!important;
  background: url('../images/tick.png') no-repeat left center;
  display: inline-block;
  padding-left: 30px;
  background-size: 25px;
  padding-right: 20px;
  font-size: 20px!important;
}

.job-section#job-looking {
  background-color: #58b7e7;
}
.job-section#job-looking h2 span {
  color: #58b7e7;
  background-color: #fff;
}

.job-section#job-positions {
  background-color: #fff;
}
.job-section#job-positions h2 span {
  color: #fff;
  background-color: #404040;
}

.job-section#job-you h2 span {
  color: #fff;
  background-color: #47525e;
}

.larger {
  font-size: 18px!important;
  margin-bottom: 20px;
}


.job-section .button:hover {
  text-decoration: none;
  background-color: #4DB64C;
}

.job-section .bigger {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 50px;
  text-align: center;
}

.job-section h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2em;
}

.job-section ul {
  margin: 0;
  padding: 0;
}

.job-section li {
  color: inherit;
  list-style: none;
  margin: 0 0 15px 0;
  font-size: 14px;
}

.job-section h2 {
  color: rgba(0,0,0,.5);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 40px 0;
}

.job-section h2 span {
  display: inline-block;
  padding: 0 1em;
  line-height: 2em;
  border-radius: 5em;
}

.span-one-quarter {
  width: 220px;
}
.span-three-quarters {
  width: 660px;
}

/* Pusher site */

html, body {
  background: #eee url("../images/square_paper.png") top left repeat;
}
body {
  padding-top: 100px; /* 40px to make the container go all the way to the bottom of the topbar */
  font-size: 13px;
  line-height: 18px;
}
li {
  color: #404040;
}
footer {
  color: #ddd;
  border: none;
  margin-top: 17px;
  padding-top: 17px;
}
footer p {

  font-size: 0.9em;
}
footer a {
  color: #aaa;
}
.full-logo {
  margin-top: 11px;
}

.navbar-fixed-top .navbar-inner {
  border-width: 0 !important;
  background: #27343d !important;
}
.navbar-fixed-top .container {
  /*width: 1140px;*/
  padding-top: 0;
}
.navbar-fixed-top ul.nav {
  float: right;
  margin: 0;
  margin-top: 0;
}

.navbar-fixed-top a {
  color: #fff;
  font-size: 14px;
}

.nav-item {
  padding: 0px 3px;
}

.navbar .nav > li > a {
  padding: 2px 9px 0px;
  text-shadow: none;
  line-height: 64px;
  color: #d9e9ed;
}

.navbar .nav > li > a:hover {
  color: #eb0752;
}

.navbar-fixed-top a.brand {
  margin: 0;
  padding: 0;
}
.navbar-fixed-top a.big {
  font-size: 1.3em;
  color: #fff !important;
}

.navbar-fixed-top #nav_signup.btn {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  line-height: 19px;
  border-bottom: 0;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.navbar-fixed-top #nav_signup.btn {
  line-height: 19px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container > .content {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  margin-top: 5px;
  margin-bottom: 25px;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size:3.2em;
  margin-bottom: 0.7em;
  margin-top: 0;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 18px;
  line-height: 36px;
}
h4 {
  line-height: 36px;
  font-size: 16px;
}
p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
p.note {
  color: #aaa;
  font-size: 0.9em;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
.row-hero {
  background: #65b6ed;
  margin: -20px;
  margin-bottom: 0px;
  padding-top: 25px;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.row-hero .intro {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.8em;
  line-height: 1.4;
  margin-bottom: 34px;
}

.boxes-content {
  margin: 0 -20px;
}
.boxes-content .span8 {
/*  width: 480px;*/
}
.boxes-content .span-three-quarters {
/*  width: 680px;*/
}
.boxes-content h3 {
  color: #999;
  margin-bottom: 0.3em;
}
.box {
  padding: 5px 15px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
}

/*WIDGETS*/

/*signup form*/

.signup_inline_form {
  margin: 0;
}
.signup_form .note {
  display: none;
}
.signup_form .left input {
  width: 160px;
  margin: 3px 3px;
  padding: 5px 5px;
  font-size: 1.1em;
  border-color: #999;
}

.signup_form .signup_button {
  width: 100%;
  margin-bottom: 5px;
}
.signup_form .tandcs {
  margin: auto;
  opacity: 0.6;
  line-height: 1.3;
}
.signup_form .right {
  text-align: center;
}

/*home signup form*/

#home-index .content .signup_form {
  width: 360px;
}

#home-index .content .signup_form .tandcs, #home-index .content .signup_form .tandcs a {
  color: #fff;
}
#home-index .content .signup_form .right {
  padding-top: 15px;
}
#home-index .content .signup_form .tandcs {
  width: 70%;
}

/*pricing signup form*/

#home-pricing .content .content {
  padding-bottom: 0px;
}
#home-pricing .content .row-greygrad {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: -20px;
}
#home-pricing .content .signup_form {
  margin: auto;
  width: 700px;
}
#home-pricing .content .signup_form .left {
  float: left;
}

#home-pricing .content .signup_form .right {
  width: 300px;
  float: left;
  margin-left: 20px;
}

/*signup popdown*/

/* line 81, ../../app/stylesheets/widgets/_signup_form.scss */
#signup_popdown {  display: none; position: fixed; top: 40px; right: 0px; z-index: 200; }
#signup_popdown .signup_inline_form { background: none; background: url("../images/signup_popdown_box.png") top left no-repeat; border: none; box-shadow: none; }
#signup_popdown .signup_inline_form { padding-top: 31px; padding-bottom: 30px; padding-left: 9px; padding-right: 19px; }

#signup_popdown .signup_button {
  font-size: 1.2em;
}
#signup_popdown .signup_form {
  margin: auto;
}
#signup_popdown .signup_form .left {
  float: left;
}

#signup_popdown .signup_form .right {
  width: 230px;
  float: left;
  margin-top: 4px;
  margin-left: 20px;
}




/*buttons*/
.btn.primary, .btn.success {
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn.primary {
  background-color: #2f88c7;
  border-top-color: #2f88c7;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6dc3fe), to(#2f88c7));
  background-image: -moz-linear-gradient(top, #6dc3fe, #2f88c7);
  background-image: -ms-linear-gradient(top, #6dc3fe, #2f88c7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6dc3fe), color-stop(100%, #2f88c7));
  background-image: -webkit-linear-gradient(top, #6dc3fe, #2f88c7);
  background-image: -o-linear-gradient(top, #6dc3fe, #2f88c7);
  background-image: linear-gradient(top, #6dc3fe, #2f88c7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dc3fe', endColorstr='#2f88c7', GradientType=0);
}
.btn.success {
  background-color: #44920d;
  border-top-color: #44920d;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a8da4b), to(#44920d));
  background-image: -moz-linear-gradient(top, #a8da4b, #44920d);
  background-image: -ms-linear-gradient(top, #a8da4b, #44920d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8da4b), color-stop(100%, #44920d));
  background-image: -webkit-linear-gradient(top, #a8da4b, #44920d);
  background-image: -o-linear-gradient(top, #a8da4b, #44920d);
  background-image: linear-gradient(top, #a8da4b, #44920d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8da4b', endColorstr='#44920d', GradientType=0);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);

}
.btn:hover {
  background-position: 0;
  text-decoration: none;
}
.btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.btn.large {
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
  padding: 7px 14px 7px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
/*signup form*/

.signup_form .tandcs {
  font-size: 0.8em;
}

/*logos*/

.row-greygrad {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dedede;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #efefef); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #efefef); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ffffff, #efefef); /* IE10 */
  background-image:      -o-linear-gradient(top, #ffffff, #efefef); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #ffffff, #efefef);
}
.logos ul {
  list-style-type: none;
  margin-left: 35px;
}
.logos li {
  float: left;
  margin: 0px 13px;
  margin-top: 4px;
  opacity: 0.4;
}

/*feature tabs*/

.features-tabs {
  border: 1px solid #ddd;
  background: #fff;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
}
.features-tabs ul.tabs {
  font-size: 1.2em;
  
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
          
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #efefef); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #efefef); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ffffff, #efefef); /* IE10 */
  background-image:      -o-linear-gradient(top, #ffffff, #efefef); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #ffffff, #efefef);
}
.features-tabs ul.tabs li a {
  padding: 6px 30px;
  padding-left: 40px;
  line-height: 34px;
  color: #bbb;
  background-repeat: no-repeat;
  background-position: 2px 8px;
  border: none;
}
.features-tabs ul.tabs li:hover a {
  background-color: transparent;
}
.features-tabs ul.tabs li.active a {
  border: none;
  color: #398fcb;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 2px 8px;
}
.active .tab-simple { background-image: url(../images/icon-simple-on.png) }
.active .tab-scalable { background-image: url(../images/icon-scalable-on.png) }
.active .tab-secure { background-image: url(../images/icon-secure-on.png) }
.active .tab-instant { background-image: url(../images/icon-instant-on.png) }
.active .tab-reliable { background-image: url(../images/icon-reliable-on.png) }
.tab-simple { background-image: url(../images/icon-simple.png) }
.tab-scalable { background: url(../images/icon-scalable.png) }
.tab-secure { background-image: url(../images/icon-secure.png) }
.tab-instant { background-image: url(../images/icon-instant.png) }
.tab-reliable { background-image: url(../images/icon-reliable.png) }
.features-tabs h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
  line-height: 1;
}
.features-content .row {
  margin: 0;
  padding-bottom: 1em;
}
.features-content p {
  font-size: 1.1em;
  color: #666;
}
.features-content .span4:last-child {
  text-align: center;
  width: 220px;
  padding-left: 30px;
  padding-right: 30px;
}

.chromenum {
  margin: auto;
  font-size: 2.5em;
  margin-right: 0.4em;
  float: left;
  text-align: center;
  color: #555;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
  padding: 10px;
  padding-bottom: 6px;
  font-weight: bold;
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  background-color: #fdfdfd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#d5d5d5)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fdfdfd, #d5d5d5); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #fdfdfd, #d5d5d5); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #fdfdfd, #d5d5d5); /* IE10 */
  background-image:      -o-linear-gradient(top, #fdfdfd, #d5d5d5); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #fdfdfd, #d5d5d5);
}
.chromenum span {
  font-size: 0.5em;
  color: #999;
  padding-left: 0.3em;
}
.features-tabs .note {
  color: #999;
  text-align: left;
  font-size: 0.95em;
  margin-top: 1.1em;
}

/*Blog*/


.blog-preview ul {
  list-style-type: none;
  margin: 0.5em 0;
}

.blog-preview .box {
  padding:5px 0;
}

.blog-preview li {
  padding: 4px 15px;
}

.blog-preview li:hover {
  background:#f5f5f5;
}

.blog-preview a:hover {
  text-decoration: none;
}

.blog-preview .date {
  font-style: italic;
}


/*PAGES*/

/*home*/

#home-index .tryit #testLink {
  width: 220px;
}
#home-index .tryit .note {
  width: 250px;
  margin-top: 5px;
  text-align: center;
}
#home-index .infobar h3 {
  color: #666;
}
#home-index .infobar p {
  font-size: 0.9em;
  color: #888;
}
#home-index .code-examples h4 {
  color: #888;
  padding-bottom: 0px;
  margin-top: 0.5em;
  font-size: 1.1em;
  line-height: 1;
}

/* tutorials */

#tutorials-index h2 {
  margin-bottom: 10px;
  padding: 0;
}

#tutorials-index article.guide {
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
}

#tutorials-index article.guide p {
  margin: 0 10px 10px 10px;
}

#tutorials-index .guides article.guide h3 {
  font-size: 1.3em;
  padding: 0;
  margin: 0 10px 0px 10px;
}

#tutorials-index .guides article.guide h3 a {
  color: #3068c2;
}

#tutorials-index .guides article.guide div.langs {
  background-color: #f5f5f5;
  color: #737373;
  border-top: 1px solid #EEEEEE;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

#tutorials-index .guides article.guide div.langs .btn {
  float: right;
  margin-top: 5px;
}

#tutorials-index .videos, #tutorials-index .videos a {
  color: #636363;
}

#tutorials-index .videos article.video {
  overflow: auto;
  margin-bottom: 15px;
  width: 100%;
}

#tutorials-index .videos h3 {
  font-size: 1.1em;
  line-height: 1.2em;
  float: left;
  width: 70%;
}

#tutorials-index .videos img {
  width: 100%;
}

#tutorials-index .videos span.time {
  font-size: 1em;
  float: right;
  width: 25%;
}

.tutorials .intro {
   font-size: 1.2em;
   line-height: 1.4em;
}

.tutorials .content {
  padding-bottom: 10px;
}

.tutorials figure.border {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tutorials figure.right {
  float: right;
  text-align: center;
}

.tutorials figure figcaption {
  font-style: italic;
  font-weight: bold;
}

.tutorials .guide.has-logo {
  background-repeat: no-repeat;
  background-position: 99% 8px;
  background-size: 150px;
}

.tutorials .guide.has-logo p {
  margin-right: 170px !important;
}

.tutorials .guide.nettuts {
  background-image: url(../images/tutorials/net-tuts.png);
  background-position: 99% 17px;
}

.tutorials .guide.netmag {
  background-image: url(../images/tutorials/netmag-logo.png);
}

.tutorials .guide.smashing {
  background-image: url(../images/tutorials/smashing_mag.png);
}

.tutorials .guide.twilio {
  background-image: url(../images/tutorials/twilio-logo.png);
}

.tutorials .guide.web-resources-depot {
  background-image: url(../images/tutorials/web-resources-depot.png);
}

/*showcase index*/

.casestudy {
  width: 235px;
  height: 228px;
  padding: 25px;
  margin: 0px 20px;
  text-align: center;
  background: url("../images/casestudy-bg-otherscreen.png") top left no-repeat;
}
.casestudies .row {
  margin: 0 -20px;
}
.casestudy h2 {
  font-size: 1.7em;
  line-height: 1.5;
  color: #777;
  margin-bottom: 15px;
}
.casestudy .logo {
  height: 90px;
}
.casestudy.otherscreen { background-image: url("../images/casestudy-bg-otherscreen.png"); }
.casestudy.gauges { background-image: url("../images/casestudy-bg-gauges.png"); }
.casestudy.freedcamp { background-image: url("../images/casestudy-bg-freedcamp.png"); }

.casestudy.otherscreen .logo img { margin-top: 5px; }
.casestudy.gauges .logo img { margin-top: 15px; }
.casestudy.freedcamp .logo img { margin-top: 25px; }

.content.gallery { overflow: hidden; *zoom: 1; padding-top: 3em; }
.gallery .item { width: 250px; margin: 0px 30px; height: 34em; position: relative; display: inline; float: left; position: relative; }
.gallery .item img { background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; border: 1px solid #dedede; display: block; padding: 4px; clear: right; }

/*showcase casestudy*/
.showcase .row-hero h2 {
  font-size: 3em;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.showcase .row-hero {
  text-align: center;
  margin-bottom: 1.8em;
}
.showcase .row-hero .intro {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.8em;
  line-height: 1.4;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
.showcase h3 {
  font-size: 1.6em;
  margin-bottom: 0.7em;
  line-height: 1.3;
}
.showcase blockquote {
  color: #888;
  line-height: 1.2;
  text-align: center;
  font-size: 1.6em;
  font-style: italic;
  padding: 10px 10px;
}

/*showcase otherscreen*/
.showcase h1 {
}
#pusher_and_otherscreen {
  width: 297px;
  height: 75px;
  background: url("../images/showcase/pusher_and_otherscreen.png") top left no-repeat;
  text-indent: -900em;
  margin: auto;
}
.otherscreen-hero {
  background: url("../images/red_grid.png") top left repeat;
}
.gauges-hero {
  background: url("../images/green_grid.png") top left repeat;
}
#pusher_and_freedcamp {
  width: 384px;
  height: 75px;
  background: url("../images/showcase/pusher_and_freedcamp.png") top left no-repeat;
  text-indent: -900em;
  margin: auto;
}
#pusher_and_gauges {
  width: 384px;
  height: 75px;
  background: url("../images/showcase/pusher_and_gauges.png") top left no-repeat;
  text-indent: -900em;
  margin: auto;
}

/* jobs*/

h1.multiline
{
  line-height: 50px;
}

.extra-margin-below
{
  margin-bottom: 16px;
}

.openings
{
  list-style-type: none;
  margin: 0;
}

.openings li
{
  margin-bottom: 16px;
}

.openings h3
{
  margin: 0;
}

.openings .actions
{
  text-align: right;
}

.jobthings
{
  padding: 0 14px 10px 18px;
  margin: 8px auto 32px auto;
  width: 30em;
}


 .jobthings li {
   font-size: 1.1em;
   line-height: 1.7;
 }

 ul.media-grid {
  margin: 0;
  margin-bottom: 10px;
  overflow: auto;
 }
 .media-grid li {
  display: inline;
 }
 .media-grid li > .img {
  float: left;
  margin: 5px 10px;
}
.media-grid .img img {
  display: inline;
}

/*docs*/

.docs .search-form {
  margin: 0;
}

.docs .search-box {
  font-size: 13px;
  margin: 0;
}

.docs h1 {
  text-align: left;
  font-size: 2.5em;
}

.docs .main p,
.tutorials .content p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.docs .main ul,
.tutorials .content ul {
  font-size: 14px;
}

.docs .main ul li,
.tutorials .content ul li {
  line-height: 24px;
}

.docs .sidebar h3 {
  margin-bottom: 1em;
  line-height: 1;
  color: #999;
}
.docs dt {
  margin: 0.5em 0;
}
p.intro {
  font-size: 1.3em;
  line-height: 1.4;
}

.toc,
.docs .main ul.toc {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 20px 0;
  background-color: #F8F8F8;
  border: 1px #CCC solid;
  padding: 1em;
  padding-left: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-image: initial;
}

.toc li,
.docs .main ul.toc li {
  line-height: 20px;
}

.docs .main .toc ul {
  margin: 0 0 0 20px;
  font-size: 13px;
}

.toc ul h5 {
  margin: 0;
  line-height: 1.4em;
}

#docs-index .content .action {
  text-align: center;
  margin-bottom: 20px;
}

.docs span.recommended {
  color: #DFBB0D;
}

.docs span.supported {
  color: green;
  margin-left: 1px;
}

.docs ul.library-list-toc {
  padding: 0 !important;
  border: 0 !important;
  background: none !important;
  list-style: none;
  margin: auto !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  overflow: auto;
}

.docs ul.library-list-toc li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;

  border-right: 1px solid #eee !important;
}

.docs ul.library-list-toc li:last-child {
  border: 0 !important;
}

.docs table.library-list * {
  border: 0 !important;
}

.docs table.library-list .recommended,
.docs table.library-list .supported {
  width: 15px;
}

.docs table.library-list .recommended:before {
  content: ' ★';
}

.docs table.library-list .supported:before {
  content: ' ✔';
}

#docs-client_libraries span.recommended:before {
  /** removing this from client page until we have more recommended libraries */
  content: '';
}

.docs table.library-list td {
  padding: 5px 5px 0px 0px;
}

.docs table.library-list tr:nth-child(2n+2) {
  background-color: #F9F9F9;
}

.docs table.library-list td:first-child {
  padding-left: 0;
  width: 175px;
}

.docs table.library-list td:nth-child(2) {
  /* links */
  width: 80px;
}

.docs table.library-list td:nth-child(3) {
  /* contributors */
  width: 150px;
}

.docs table.library-list td:nth-child(4) {
  /* description */
  width: 250px;
}

.docs table.library-list td:nth-child(2) a,
.docs table.library-list td:nth-child(3) a {
  display: block;
  margin-bottom: 5px;
}

.docs table.library-list ul {
  list-style-position: inside;
  margin: 0;
}

/* new doc tabs */
.docs .nav-tabs {
  margin-bottom: 0;
}

.docs .tab-content {
  border-bottom: 1px solid #ddd;
  border-top: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.docs .tab-content pre[data-lang] {
  margin-bottom: 20px;
}

.docs .tab-content p,
.docs .tab-content ul {
  margin-top: 9px;
}

.docs .tab-content p:first-child,
.docs .tab-content ul ul {
  margin-top: 0;
}

.docs .tab-content pre[data-lang] + article[data-lang] {
  margin-top: 15px;
}

.docs h1[id],
.docs h2[id],
.docs h3[id],
.docs h4[id],
.docs h5[id],
.docs h6[id] {
  margin-top: -60px;
  padding-top: 60px;
}

.docs h1 a[href^="#"], .docs h2 a[href^="#"], .docs h3 a[href^="#"], .docs h4 a[href^="#"], .docs h5 a[href^="#"], .docs h6 a[href^="#"] {
  color: inherit;
}

.docs h1 a[href^="#"]:hover, .docs h2 a[href^="#"]:hover, .docs h3 a[href^="#"]:hover, .docs h4 a[href^="#"]:hover, .docs h5 a[href^="#"]:hover, .docs h6 a[href^="#"]:hover {
  color: inherit;
  position: relative;
  text-decoration: none;
}

.docs h1 a[href^="#"]:hover::before, .docs h2 a[href^="#"]:hover::before, .docs h3 a[href^="#"]:hover::before, .docs h4 a[href^="#"]:hover::before, .docs h5 a[href^="#"]:hover::before, .docs h6 a[href^="#"]:hover::before {
  color: #08c;
  content: "#";
  display: block;
  font-size: smaller;
  margin: 0 0 0 -13px;
  position: absolute;
}

.docs table.libraries {
  table-layout: fixed;
  word-wrap: break-word;
}

.docs table.libraries tr p[id^=client-] {
  margin-top: -60px;
  padding-top: 60px;
}

.docs table.libraries tr th:first-child,
.docs table.libraries tr td:first-child {
  width: 25%;
}

.docs table.libraries tr th:nth-child(2),
.docs table.libraries tr td:nth-child(2) {
  width: 8%;
}

.docs table.libraries tr th:nth-child(3),
.docs table.libraries tr td:nth-child(3) {
  width: 20%;
}

.docs table.libraries tr th:nth-child(4),
.docs table.libraries tr td:nth-child(4) {
  width: 8%;
}

.docs table.libraries tr th:last-child,
.docs table.libraries tr td:last-child {
  width: 39%;
}

.docs table.libraries p {
  margin-bottom: 3px;
}

.docs table.libraries small {
  color: #000;
}

.docs #mc-embedded-subscribe-form input.email,
.docs #mc-embedded-subscribe-form input.button {
  display: inline;
}

.docs #mc-embedded-subscribe-form input.email {
  margin-right: 5px;
}

.docs #mc-embedded-subscribe-form input.button {
  height: 38px;
  line-height: 38px;
}

.docs code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border: none;
  /*white-space: nowrap;*/
  border-radius: 4px
}

.docs pre code {
  background: none;
}

.docs pre {
  margin-bottom: 20px;
}

/* div.code for doc stuff */

code, pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
code {
 background-color: #fff7e2;
}
div.code {
  margin-bottom: 1.43em;
}
div.code ul {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}
div.code li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
div.code li a {
  color: #bbb;
  background: #f9f9f9;
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0px 6px;
}
div.code li a.active {
  color: #fff;
  background: #aaa;
}
div.code pre code {
  padding-left: 0;
}
pre code {
 background-color: #F9F9F9;
}
pre {
  background: #F9F9F9;
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
  white-space: pre;
  clear: left;
}

/* Docs search */

.gsc-control-cse {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gsc-search-box {
  padding: 0 !important;
}

#gsc-i-id1 {
  margin-bottom: 0 !important;
}

.gsc-cursor-page {
  color: #333 !important;
  text-shadow: none !important;
}

img.gcsc-branding-img-noclear {
  max-width: none !important;
}

/*pricing*/

#home-pricing .logos {
  margin-top: 40px;
}
/*#home-pricing #plans { margin: 0; }*/
/* line 100, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section.highlight { background: #f7f9fa; }
/* line 104, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section { position: relative; display: inline; float: left; width: 170px; margin: 0 10px; margin-bottom: 30px; padding: 10px 0; background: #eaf0f8; border: 1px solid #ccc; }
/* line 113, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section h2, #home-pricing #plans section p { display: block; padding: 0 20px; margin: 0; text-align: center; }
/* line 120, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section p.plan-price { background: #a1b6d1; background: -moz-linear-gradient(top, #a1b6d1 0%, #bac9de 100%); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a1b6d1), to(#bac9de)); border: 1px solid #8e9daf; border-top: 1px solid #7a8a9f; border-bottom: 1px solid #b0bed1; text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 2px; display: block; -moz-box-shadow: #a0b1c8 0 1px 0 0 inset; -webkit-box-shadow: #a0b1c8 0 1px 0 0 inset; -o-box-shadow: #a0b1c8 0 1px 0 0 inset; -ms-box-shadow: #a0b1c8 0 1px 0 0 inset; -khtml-box-shadow: #a0b1c8 0 1px 0 0 inset; box-shadow: #a0b1c8 0 1px 0 0 inset; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; color: #f9f9f9; font-weight: 600; line-height: 1em; padding: 0.6em 0 0.5em; margin: 10px 0; text-align: center; text-decoration: none!important; position: relative; display: block; float: none; margin-left: auto; margin-right: auto; width: 125px; font-weight: bold; font-size: 1.2em; padding: 0.4em 0 0.3em; letter-spacing: 0.045em; }
/* line 130, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section p.plan-price small { font-size: 0.8em; padding: 0 0.1em; color: #fff; }
/* line 137, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul { border-top: 1px solid #ced2d7; margin: 20px 0 0 0; }
/* line 141, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li { list-style-type: none; border-top: 1px solid #fff; border-bottom: 1px solid #ced2d7; padding: 10px 0; text-align: center; }
/* line 148, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li h3 { margin: 0 0 0.4em; text-shadow: #fff 1px 1px 1px; }
/* line 153, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li p { margin: 0; text-shadow: #fff 1px 1px 1px; }
/* line 158, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.extras { border-bottom: medium none; }
/* line 161, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.extras .button { margin: 10px 20px; padding: 0.5em 1em; }
/* line 166, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.extras p { padding: 0; text-align: center; }
/* line 172, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.disabled { position: relative; color: #abacae; }
/* line 176, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.disabled h3 { color: #abacae; }
/* line 180, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plans section ul li.disabled em { position: absolute; top: 14px; left: 20px; height: 31px; width: 154px; background: url("../images/plans_feature_disabled.png") top left no-repeat; text-indent: -99999px; }
/* line 194, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plan-custom { width: 870px; margin-left: 10px; margin-right: 10px; position: relative; display: block; float: none; margin-left: auto; margin-right: auto; margin: 0px auto; color: #333947; background: #d0dceb; background: -moz-linear-gradient(top, #f0f4fa 0%, #d0dceb 100%); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4fa), to(#d0dceb)); border: 1px solid #92a2b9; border-top: 1px solid #97aac5; border-bottom: 1px solid #8f9cae; text-shadow: #fff 1px 1px 1px; display: block; -moz-box-shadow: white 0 1px 0 0 inset; -webkit-box-shadow: white 0 1px 0 0 inset; -o-box-shadow: white 0 1px 0 0 inset; -ms-box-shadow: white 0 1px 0 0 inset; -khtml-box-shadow: white 0 1px 0 0 inset; box-shadow: white 0 1px 0 0 inset; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; line-height: 26px; padding: 5px 0 3px; text-align: center; text-decoration: none!important; vertical-align: baseline; }
/* line 215, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #plan-custom img { vertical-align: bottom; margin-left: 10px; }
/* line 222, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #users { width: 940px; margin-left: 10px; margin-right: 10px; position: relative; display: block; float: none; margin-left: auto; margin-right: auto; }
/* line 226, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #users ul { position: relative; display: inline; float: left; margin: 30px 0; padding: 0; }
/* line 231, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #users ul li { position: relative; display: inline; float: left; list-style-type: none; height: 50px; padding: 0 9px; margin: 0; }
/* line 241, ../../app/stylesheets/pages/_pricing.scss */

#home-pricing #custom-plans ul { overflow: hidden; *zoom: 1; margin: 0; }
/* line 260, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #custom-plans ul li { width: 194px; margin-left: 0px; margin-right: 0px; position: relative; display: inline; float: left; padding: 0 0 6px 36px; background: url("images/tick.png") 0 1px no-repeat; list-style-type: none; }
/* line 270, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #fancybox-outer { border: none; border-radius: 3px; text-align: center; }
/* line 276, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #fancybox-content { padding: 0px; }
/* line 281, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup h2 { font-weight: bold; margin-top: 20px; margin-bottom: 5px; font-size: 1.9em; }
/* line 288, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup .tandcs, #home-pricing #signup p.desc { width: 430px; padding: 0px 30px; margin: auto; }
/* line 294, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup p.desc { font-size: 1em; padding-bottom: 15px; }
/* line 299, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup dl { overflow: hidden; *zoom: 1; display: block; background: url(images/signup_hsep.gif) repeat-x left top; padding-top: 20px; }
/* line 306, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup dt { float: left; clear: left; width: 150px; text-align: right; margin: 13px 0px; padding-right: 30px; color: #3a445d; font-weight: bold; font-size: 1.1em; }
/* line 317, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup dd input { width: 270px; font-size: 1.1em; float: left; margin: 7px 0px; padding: 6px 5px; border: 1px solid #959595; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; -moz-box-shadow: #dbdbdb 0 1px 3px 0 inset; -webkit-box-shadow: #dbdbdb 0 1px 3px 0 inset; -o-box-shadow: #dbdbdb 0 1px 3px 0 inset; -ms-box-shadow: #dbdbdb 0 1px 3px 0 inset; -khtml-box-shadow: #dbdbdb 0 1px 3px 0 inset; box-shadow: #dbdbdb 0 1px 3px 0 inset; }
/* line 328, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup .tandcs { clear: both; margin-bottom: 30px; text-align: left; }
/* line 334, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup #account_terms_accepted, #home-pricing #signup .tandcs label { font-size: 0.75em; margin: 11px 0px; margin-right: 7px; }
/* line 340, ../../app/stylesheets/pages/_pricing.scss */
#home-pricing #signup .tandcs input.button { float: right; margin: 0; font-size: 1em; padding: 8px 35px; }
/* line 348, ../../app/stylesheets/pages/_pricing.scss */

/* Examples */
#home-examples.home .gallery img {
  width: 252px;
}


/* code highlighter */
.cs .comment, .php .comment, .js .comment, .rb .comment { color: green; }
.cs .string, .php .string, .js .string, .rb .string { color: teal; }
.cs .keywords, .php .keywords, .js .keywords, .rb .keywords { color: navy; }
.cs .global, .php .global, .js .global { color: blue; }
.cs .brackets, .php brackets, .js .brackets, .rb .brackets { color: navy; }

.css .comment { color: gray; }
.css .properties { color: navy; }
.css .selectors { color: maroon; font-weight: bold; }
.css .units { color: red; }
.css .urls { color: green; }

.html .tag { color: purple; }
.html .comment { color: gray; font-style: italic; }
.html .string { color: navy; }
.html .doctype { color: teal; }


/*Pricing page modification */
.container > .content {
  margin-top: 0;
}
#home-pricing #plans section {
  width: 213px;
}
#home-pricing #plans {
  margin: auto 0 auto;
}

.active-tab {
  background-color: #fff !important;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.15);
  -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.15);
  box-shadow: 0 -1px 1px rgba(0,0,0,.15);
}

.price-tab a:hover {
  text-decoration: none;
}
.enterprise-tab {
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.15);
  -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.15);
  box-shadow: 0 -1px 1px rgba(0,0,0,.15);
}
.enterprise-tab a,.enterprise-tab a:hover {
  color: #333;
} 
.enterprise-tab:hover {
  background-color: #fff;
}

#home-enterprise .content img {
  opacity: 0.7;
}
#home-enterprise #intro {
  margin: 10px 0 0 0;
}

#home-enterprise .content .span6 {
  margin-top: 25px;
}

#home-enterprise .btn.large  {
  padding: 10px 25px 10px;
  font-size: 22px;
}

#tutorials-index .btn3-sm {
  margin-top: 4px;
}

#nav_signup, .signup_button {
  background-color: #eb0752;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  padding: 10px 25px;
  line-height: 1.42857143;
  margin-right: 10px;
  margin-left: 16px;
}

#nav_signup:hover, .signup_button:hover {
  border-color: #fb3568;
  background-color: #fb3568;
  transition: background 0.4s ease 0s;
}

.btn-light-blue {
  background-color: #40bad8;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  line-height: 1.42857143;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-light-blue:hover {
  background-color: #27343d;
  color: #fff;
  transition: background 0.4s ease 0s;
}

.footer-container {
  width: 1140px;
}

.header-text {
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}

p.intro, 
.docs p.intro {
  font-size: 16px;
}

p.intro-subheading,
.docs p.intro-subheading {
  font-size: 15px;
  letter-spacing: 1.4px;
}

.header-text em {
  font-weight: 200;
}

.btn-wide {
  width: 220px;
}

.btn-clear {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: white;
  line-height: 31px;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 100;
}

.btn-clear:hover {
  color: #4AABBF;
  background-color: white;
  transition: background 0.4s ease 0s;
}


.footer-call-text {
  text-align: center;
  color: #FFFFFF;
  padding-top: 80px;
}

.footer-call {
  font-size: 28px;
  font-weight: 300;
}

.footer-call em {
  font-weight: 100;
}

.footer-call-subheading {
  font-size: 16px;
  letter-spacing: 1.4px;
  font-weight: 100;
}

.red-accent {
  color: #EB0752;
}
