.tutorial-index-header {
  margin-top: -60px;
  height: 340px;
  position: relative;
  width: 100%;
  background: -o-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#2193b0', endColorstr='#6dd5ed');
  background-size: cover;
}

.intro.tutorial-header-text {
  margin-top: 35px;
  font-weight: 200;
  font-size: 30px;
}

.intro-subheading.tutorial-subheader-text {
  color: white;
  width: 520px;
  margin: 0 auto;
}

section.full-width-pane.tutorial-pane {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 200px;
}

section.tutorials-blocks  {
  background-color: #ecf2f4;
  font-weight: 200;
  padding-bottom: 100px;
}

section.quick-start-invitation {
  color: #626869;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
}

section.quick-start-invitation .invitation {
  height: 120px;
  margin-top: 40px;
}

.invitation.get-started-text {
  text-align: left;
  max-width: 600px;
}

.invitation.get-started-button-container {
  padding-top: 30px;
}

h2.quick-start-cta {
  font-weight: 200;
  color: #626869;
  font-size: 26px;
}

p.invitation-desc {
  font-size: 18px;
}

.btn-secondary {
  border-color: #f4065f;
  color: #f4065f;
}

.btn-secondary:hover {
  color: white;
  background-color: #f4065f;
}

div.tutorial-group-title {
  margin-bottom: 50px;
}

section.blocks.header-text {
  padding-top: 60px;
}

.tutorial-blocks-header-text {
  font-size: 30px;
}

.tutorial-blocks-header-text, 
.tutorial-blocks-subheader-text {
  color: #626869;
  font-weight: 200;
}

.tutorial-panel-footer {
  position: absolute;
  width: 100%;
}

.tutorial-block-panel {
  height: 342px;
  border: 1px solid #e9e9e9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.video-panel {
  height: 365px;
}

h3.tutorial-title {
  color: #515859;
  font-weight: 200;
}

a.tutorial-section-link {
  color: #cdf6ff;
  font-weight: 400;
}

h3.tutorial-page-title {
  font-size: 21px;
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px; 
}

.tutorial-block-panel .row {
  padding: 0px 35px;
}

div.tutorial-description {
  padding: 20px 50px 0px 50px;
}

p.tutorial-synopsis {
  font-size: 16px;
  color: #626869;
}

div.tutorial-panel-footer {
  position:absolute;
  bottom: 0;
}

div.tutorial-metadata {
  height: 30px;
  padding-bottom: 40px !important;
}

div.tutorial-metadata div {
  text-align: center;
}

div.tutorial-topics {
  border-top: 1px solid #f1f1f1;
  margin: 0;
  padding: unset !important;
  height: 40px;
  color: #adb5bb;
}

p.tutorial-topics-list {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 0 !important;

}

div.tutorial-languages {
  border-top: 1px solid #f1f1f1;
  height: 60px;
  margin: 0;
}

div.language-icons {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 1rem;
}

img.difficulty-icon {
  width: auto;
  height: 18px;
  display: inline;
}

.language-icon {
  font-size: 26px;
  color: #dce2e7;
}

.external-link {
  margin-right: 5px;
}

.duration-wrapper {
  padding-top: 4px;
  padding-left: 35px;
}

.time-taken {
  color: #40bad8;
  font-size: 18px;
  float:left;
}

.time-taken-text {
  margin-top: 2px;
  float:left;
  font-size:13px;
  font-weight: 400;
  margin-left: 10px;
  color: #adb5bb;
  position: relative;
}

.tutorial-block-panel .row.pull-bottom {
  position: absolute;
  bottom: 10px;
  padding: unset;
  width: 100%;
}

.video-author {
  text-transform: uppercase;
  margin-left: inherit;
}

div.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(39, 52, 61, 0.86);
  z-index: 500;
  text-align: center;
  vertical-align: middle;
  padding-top:138px;
}

.btn-view-tutorial {
  margin: 0 auto;
}

.btn-view-tutorial:hover {
  background-color: rgba(255,255,255,1);
  opacity: 1;
  color: rgba(0,0,0,0.86);
  z-index: 100000000;
}

div.video-image {
  height: 230px;
  background-image: url('../../images/joe_nash.png');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/joe_nash.png', sizingMethod='scale')";
  background-size: cover;
}

a.video-image-link {
  height: 230px;
}

div.video-footer {
  height: 135px;
}

div.video-information {
  margin-top: 40px;
  padding: 0 20px;
}

h3.video-title {
  font-size: 18px;
}

p.video-duration {
  margin-left: inherit;
}

div.video-image:hover img#play-icon {
  opacity: 1;
}

div.play-icon-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 70px;  
}

img#play-icon {
  width: 70px;
  height: auto;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}


@media screen and (max-width: 1200px) {
  h3.tutorial-title {
    width: 100%;
  }

  .invitation.get-started-text {
    max-width: none;
  }

}

@media screen and (max-width: 990px) {
  section.quick-start-invitation .invitation.get-started-button-container {
    padding-top: inherit;
    margin-top: inherit;
  }

  p.intro-subheading.tutorial-blocks-subheader-text {
    padding: 0 7px;
  }

  p.intro-subheading.tutorial-subheader-text {
    width: 90%;
  }

  .invitation.get-started-text {
    text-align: center;
  }

}

@media screen and (max-width: 770px) {
  div.duration-wrapper span {
    float: none;
  }

  div.duration-wrapper {
    padding-top: 2px;
  }
}