/* Prism fix */
pre code {
  background: none;
}

/* Code body fix */

.code-body {
  padding-bottom: 5px;
}

/* New layout styling */

.intro {
  margin: auto;
  font-weight: 300;
  margin-bottom: 20px;
}

.intro-subheading {
  font-size: 18px;
  font-weight: 100;
}

.btn-default:hover {
  color: #2f9fb7;
}

.btn-default:hover {
  color: #2f9fb7;
}

body {
  background: white;
}

.header-text {
  font-weight: 300;
  padding-top: 105px;
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  max-width: 800px;
}

.header-text em {
  font-weight: 100;
}

.background-header-image {
  margin-top: -60px;
  height: 380px;

  position: relative;
  width: 100%;
  background: #2f9fb7;
  background: -webkit-radial-gradient(center, ellipse cover,rgba(89, 227, 252, 0.37), rgba(24, 111, 129, 0.8)), #409fb4;
  background: -moz-radial-gradient(center, ellipse cover,rgba(69, 177, 196, 0.8), rgba(47, 159, 183, 0.8)), #409fb4;
  background: -o-radial-gradient(center, ellipse cover,rgba(69, 177, 196, 0.8), rgba(47, 159, 183, 0.8)), #409fb4;
  background: -ms-radial-gradient(center, ellipse cover,rgba(69, 177, 196, 0.8), rgba(47, 159, 183, 0.8)), #409fb4;
  background: radial-gradient(center, ellipse cover,rgba(69, 177, 196, 0.8), rgba(47, 159, 183, 0.8)), #409fb4;
  background-size: cover;
}

.thinner-container {
  width: 70%;
}

.header-buttons {
  text-align: center;
}

.header-buttons a {
  display: inline-block;
  margin: 10px;
}

/* General tutorial styling */

section.tutorial {
  color: #5F5F5F;
  padding-bottom: 20px;
}

section.tutorial header {
  margin: 30px 0;
}

section.tutorial header h1 {
  border-bottom: 1px solid #666;
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: left;
}

section.tutorial header p {
  font-size: 21px;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

section.tutorial .buttons {
  margin: 20px 0;
  text-align: center;
}

section.tutorial .buttons .btn {
  font-size: larger;
  padding: 0.8em 1.5em;
  width: 200px;
}

  section.tutorial .buttons .btn:last-child {
    margin-left: 20px;
  }

section.tutorial h1, section.tutorial h2, section.tutorial h3 {
  margin: 1em 0 0.8em;
}

section.tutorial figure {
  box-sizing: border-box;
  margin: 40px 0 40px 0;
  width: 100%;
}

  section.tutorial figure.border {
    border: 1px solid #ccc;
  }

  section.tutorial figure.border-topright {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  section.tutorial figure img {
    width: 100%;
  }

section.tutorial p.code-header {
  font-size: 13px;
  margin: 0px 0 -10px;
  padding: 5px 10px 15px;
}

section.tutorial pre[class*="language-"] {
  margin: 0 0 30px 0;
}


/* CSS tweak for mobile */

@media(max-width: 767px) {
  .background-header-image {
    height: 700px;
  }

  .btn-default {
    margin-top: 10px;
  }

  .header-buttons .btn {
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1020px){
  .background-header-image {
    height: 600px;
  }
}
