/** FOOTER v1 **/

.footer1 {
	background-color: #222;
	padding: 2em 0;
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

.footer1 .logo {
	display: inline-block;
	height: 3.6em;
	opacity: .5;
	margin-bottom: 1em;
}

.footer1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer1 ul li {
	display: inline;
	padding: 0 .5em 0 0;
}

.footer1 ul li a {
	color: rgba(255,255,255,.7);
}

.footer1 ul li a:hover {
	text-decoration: none;
	color: rgba(255,225,255,1);
}

.footer1 small {
	display: block;
	margin-top: .2em;
	font-size: .9em;
	color: rgba(255,255,255,.5);
	font-weight: 300;
}

/** SOLUTIONS (INDIVIDUAL) **/

#solutions-show .sec-sub-head h1 {
  max-width: 60%;
}

.spacer {
  margin-bottom: 2em;
}

#solutions-show .sec-sub-head {
  max-height: 283px;
}

#solutions-show {
  color: #666;
  background: #fff;
}
#sols-main .bigger {
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0;
}
#solutions-show .content {
  font-size: 14px;
  margin-top: -40px;
}
#solutions-show h3 {
  margin-bottom: .7em;
}
#sols-news {
  background-image: url('../images/banner-news.jpg');
  background-color: #000;
  color: #fff;
}
#sols-communication {
  background-image: url('../images/banner-communication.png');
  background-color: #000;
  color: #fff;
}
#sols-entertainment {
  background-image: url('../images/banner-broadcast.jpg');
  background-color: #000;
  color: #fff;
}
#sols-saas {
  background-image: url('../images/banner-saas.jpg');
  background-color: #000;
  color: #fff;
}
#sols-sport {
  background-image: url('../images/banner-sport.jpg');
  background-color: #000;
  color: #fff;
}
#sols-brand {
  background-image: url('../images/banner-brand.png');
  background-color: #000;
  color: #fff;
}

#sols-main .bigger {
  text-align: left;
  margin-bottom: 1em;
  opacity: 1;
  color: #444;
}


#solutions-show blockquote:after {
  display: none;
  content: "\201d";
  font-size: 80px;
  position: absolute;
  right: 0;
  top: -10px;
  line-height: 1em;
  font-family: Georgia;
  color: #7a7a7a;
}

#solutions-show blockquote small {
  font-weight: normal;
  margin-top: .5em;
}
#solutions-show blockquote {
  margin: 1.5em 0 0 0;
  position: relative;
  border: 0;
  padding: 0 0 0 40px;
  line-height: 1.3em;
}

/** SOLUTIONS INDEX **/

#solutions-index {
  color: #666;
  background: #fff;
}
#solutions-index h1 {
  line-height: 1em;
}
#solutions-index .sec-head {
  padding: 2em 0;
}
#solutions-index .content {
  font-size: 14px;
}
#solutions-index .click-box1 {
  margin-bottom: 1em;
}

#solutions-index .content {
  font-size: 1.1em;
}

/** JOBS INDEX **/

body#jobs-index {
  padding-top: 64px!important;
}
#jobs-index .content {
  font-size: 1.1em;
}

#job-looking {
   background-image: url('../images/user.png');
   background-repeat: no-repeat;
   background-position: bottom center;
}

#job-head {
  background-image: url('../images/jobs1.jpg');
}
#job-head h1 {
  color: #fff;
}

/** JOBS (INDIVIDUAL) **/

#jobs-show {
  color: #666;
  background: #fff;
}

#jobs-show .content {
	font-size: 14px;
  margin: 3em 0;
}

#jobs-show ul.blocklist1 {
  margin: 0 0 20px 0;
  padding: 0;
}

#jobs-show ul.blocklist1 li {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}

#jobs-show ul.blocklist1 li a {
  display: block;
  border: 1px solid #eee;
  border-radius: .3em;
  padding: 15px;
  color: inherit;
}

#jobs-show ul.blocklist1 li a:hover {
  text-decoration: none;
  color: inherit;
  border-color: #ddd;
}

#jobs-show ul.blocklist1 li strong {
  position: relative;
  display: block;
  color: #08c;
}

#jobs-show ul.list1 {
  margin-bottom: 20px;
}


.focus-container2 {
  background-color: #5E6A70;
  margin-bottom: 20px;
}

.focus-container2 .list1 {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,.02);
}

.focus-container2 .list1 li:last-child {
  border: 0;
}

.focus-container2 .list1 li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: .5em 1em;
  line-height: 1.2em;
}

#jobs-show ul.list1 li {
  color: inherit;
}

#jobs-show h2 {
  color: #333;
  font-size: 28px;
  font-weight: 300;
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 1em;
}

#jobs-show h3 .side {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  font-weight: 500;
}

#jobs-show h3 .side a {
  color: #444;
}

#jobs-show h3 {
  position: relative;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1em;
}

#jobs-show .intro {
  font-size: 18px;
  margin-bottom: 20px;
}

.focus-area1 {
  padding: 20px;
  background: #eee;
  margin-bottom: 30px;
}

.focus-area1 ul {
  margin-bottom: 0!important;
}

#jobs-show p {
  font-size: inherit;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 20px;
}

#jobs-show .click-list1 li {
  margin-bottom: 5px;
}
#jobs-show .click-list1 li strong {
  margin:0;
  font-size: .98em;
}

/** NEW LISTS **/

h2.pill {
  font-size: 14px!important;
  text-transform: uppercase!important;
  letter-spacing: 2px!important;
  font-weight: 600!important;
  text-align: center!important;
  margin: 0 0 40px 0!important;
}

.click-list1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.click-list1 > li {
  margin: 0 0 20px 0;
}

.click-box1 {
  display: block;
  border-radius: .3em;
  color: inherit;
  background-color: #F3F6F8;
  text-align: left;
}
.click-box1:hover {
  text-decoration: none;
  color: inherit;
  background-color: #E4F2FC;
}
.click-box1 > .padder {
  padding: 15px;
}
.click-box1 strong {
  position: relative;
  font-size: 16px;
  margin-bottom: .3em;
  display: block;
  color: #227bc0;
}
.click-box1 strong > div {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 12px;
  color: #999;
}

.number-list1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.number-list1 li {
  margin: 0 0 2em 0;
  padding: 0;
}
.numb {
  float: left;
  font-size: 28px;
  height: 2em;
  line-height: 2em;
  margin-right: .5em;
  padding: 0 .5em;
  opacity: .6;
  font-weight: 500;
  background-color: #B7C9DB;
  color: #fff;
  text-align: center;
  font-style: italic;
  border-radius: .3em;
}
.number-list1 li:last-child {
  border: 0;
}

.ticklist {
  text-align: center;
}

.ticklist li {
  color: inherit;
  background: url('../images/tick.png') no-repeat .5em center rgba(255,255,255,.1);
  display: inline-block;
  padding: .5em .5em .5em 2em;
  margin: 0 .5em .5em 0;
  background-size: 1em;
  font-size: 20px!important;
}

/** NEW BUTTONS **/

.newbtn1 {
  border-radius: 3px;
  background-color: #6DB64C;
  color: #fff;
  line-height: 5em;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 3em;
  font-size: .8em;
  text-transform: uppercase;
}
.newbtn1:hover {
	text-decoration: none;
	color: #fff;
}

/** SECTIONS **/

.section {
  padding: 4em 0;
}

.section.sec-head {
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
}
.section.sec-head h1 {
  font-weight: 300;
  font-size: 4.1em;
  line-height: 1.25em;
}
.section.sec-head h1 span {
  background-color: rgba(0,0,0,.5);
}

.section.sec-sub-head {
  text-align: left;
}
.section.sec-sub-head h1 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1.28em;
}
.section.sec-sub-head h1 span {
  background-color: rgba(0,0,0,.5);
}
.section.sec-sub-head .sub span {
  background-color: rgba(0,0,0,.5);
}
.section .sub {
  font-size: 1.6em;
  color: #ddd;
  line-height: 1.3em;
}

.section .bigger {
  opacity: .7;
  font-size: 1.9em;
}
.section h2 {
  color: inherit;
}

.section.sec-white {
	color: #555;
}
.section.sec-white h2 span {
	color: #fff;
  background-color: #555;
}

.section.sec-silver {
  /*background-color: #e8ecf0;*/
  color: #526375;
}
.section.sec-silver h2 span {
  color: #fff;
  background-color: #47525e;
}
.section.sec-silver h3, .section.sec-silver .bigger, .section.sec-silver strong {
	color: #47525e;
}

.section.sec-bluedark {
  background-color: #3d59a8;
  color: rgba(255,255,255,.8);
}
.section.sec-bluedark strong {
	color: rgba(255,255,255,1);
}
.section.sec-bluedark h2 {
  color: #fff;
}
.section.sec-bluedark h2 span {
  background-color: #fff;
  color: #3d59a8;
}

.section.sec-bluelight {
  background-color: #58b7e7;
  color: #fff;
}
.section.sec-bluelight h2 span {
  color: #58b7e7;
  background-color: #fff;
}

.focus-grid {
  text-align: center;
}
.focus-grid img {
  width: 65px;
  display: inline-block;
  margin-bottom: 1em;
}

.section h3 {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}

.section h2 {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  margin: 0 0 .3em 0;
}
.section h2 span {
  display: inline-block;
  padding: 0 1em;
  line-height: 2em;
  border-radius: 5em;
}

.bigger {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 50px;
  text-align: center;
}

.mtop30 {
	margin-top: 30px;
}

.small-center {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.larger {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 500;
}

body#about-index {
  padding-top: 64px!important;
}

.about .abt-section {
	padding: 50px 0;
}

.abt-section#abt-head {
	padding: 140px 0;
	max-height: 416px;
	text-align: center;
	background: url('../images/about_header2.jpg') center center no-repeat;
	background-size: cover;
}

.abt-section h1, .big-title {
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.2em;
	margin-bottom: 30px;
}

#abt-you {
	color: #fff;
	text-align: center;
	background: url("../images/about_cta.jpg") center center no-repeat;
	background-size: cover;
}

.abt-section h2 {
	color: rgba(0,0,0,.5);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 40px 0;
}

.teamlist {
	width: 600px;
	margin: 0 auto;
}

.teamlist > li {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.teamlist > li > .teampic {
	position: absolute;
	border-radius: 50%;
	right: 100%;
	top: 0;
	background-size: 100%;
	background-position: center center;
	margin-right: 20px;
	background-color: #333;
	width: 75px;
	height: 75px;
}

.teamlist > li > .teamname {
	margin-bottom: 10px;
	line-height: 1em;
	position: relative;
}

.teamname strong {
	font-size: 16px;
}

.teamname em {
	opacity: .7;
}

.teamname > ul {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.teamname > ul > li {
	float: left;
	margin-left: 10px;
}

.teamname > ul > li.github > a {
	background: url("../images/github.png") no-repeat center center;
}
.teamname > ul > li.twitter > a {
	background: url("../images/twitter.png") no-repeat center center;
}

.teamname > ul > li > a {
	width: 20px;
	height: 20px;
	display: block;
	opacity: .7;
}

.teamname > ul > li > a:hover {
	opacity: 1;
}

.teamlist #team-max .teampic {
	background-image: url('../images/team_max.jpg');
}
.teamlist #team-adam .teampic {
	background-image: url('../images/team_adam.jpg');
}
.teamlist #team-martyn .teampic {
	background-image: url('../images/team_martyn.jpg');
}
.teamlist #team-alex .teampic {
	background-image: url('../images/team_alex.jpg');
}
.teamlist #team-pawel .teampic {
	background-image: url('../images/team_pawel.jpg');
}
.teamlist #team-olga .teampic {
	background-image: url('../images/team_olga.jpg');
}
.teamlist #team-sylvain .teampic {
	background-image: url('../images/team_sylvain.jpg');
}
.teamlist #team-samuel .teampic {
	background-image: url('../images/team_samuel.jpg');
}
.teamlist #team-jonas .teampic {
  background-image: url('../images/team_jonas.jpg');
}
.teamlist #team-daniel .teampic {
	background-image: url('../images/team_daniel.jpg');
}
.teamlist #team-robin .teampic {
  background-image: url('../images/team_robin.jpg');
}
.teamlist #team-mike .teampic {
  background-image: url('../images/team_mike.jpg');
}
.teamlist #team-dominic .teampic {
  background-image: url('../images/team_dom.jpg');
}
.teamlist #team-loic .teampic {
  background-image: url('../images/team_loic.jpg');
}
.teamlist #team-hamilton .teampic {
  background-image: url('../images/team_hamilton.jpg');
}
.teamlist #team-lauren .teampic {
  background-image: url('../images/team_lauren.jpg');
}

.abt-section#abt-mission {
	background-color: #e8ecf0;
	color: #47525e;
	text-align: center;
	font-size: 16px;
}
.abt-section#abt-mission h2 span {
color: #fff;
background-color: #47525e;
}

.abt-section#abt-team {
	background-color: #e8ecf0;
	color: #47525e;
}
.abt-section#abt-team h2 span {
color: #fff;
background-color: #47525e;
}

.abt-section#abt-values h2 span {
color: #fff;
background-color: #404040;
}

.abt-section#abt-story {
	background-color: #3d59a8;
	color: rgba(255,255,255,.8);
	font-size:16px;
	font-weight: 400;
}

.abt-section#abt-story strong {
	color: rgba(255,255,255,1);
}

.abt-section .bigger {
font-size: 26px;
font-weight: 300;
line-height: 1.3em;
letter-spacing: 1px;
margin-bottom: 50px;
text-align: center;
}

.abt-section#abt-story h2 span {
background-color: #fff;
color: #3d59a8;
}

#abt-values .number {
	display: inline-block;
	padding: 0 .5em;
	line-height: 1.6em;
	font-size: 40px;
	color: #fff;
	background-color: #58b7e7;/*#227bc0*/
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
}

#abt-values h3 {
font-size: 14px;
margin-bottom: 0px;
font-weight: 500;
color: #404040;
line-height: 36px;
}

#abt-values .row {
	margin-bottom: 30px;
}

#abt-values .span4 {
	text-align: center;
}

#abt-values .bcont {
	/*background-color: #EDF4FC;
	border-radius: 5px;
	padding: 30px 20px 20px 20px;*/
}

#abt-values .span4 p {
	font-size: 14px;
	line-height: 22px;
	color: #777;
}

.abt-section h1 span, .abt-section .big-title span, .bigger span {
background-color: rgba(0,0,0,.3);
}

.abt-section h2 span {
display: inline-block;
padding: 0 1em;
line-height: 2em;
border-radius: 5em;
}

#abt-head h1 {
	color: #fff;
}

h1 {
	font-weight: normal;
font-size: 3.2em;
margin-top: 0;
}


ul.jumplist {
	padding: 0;
	margin: 0;
}

ul.jumplist li {
	font-weight: 500;
	list-style: none;
	padding: 0;
	margin: 0 0 .5em 0;
  display: inline-block;
}

.jumplist li a {
  border-radius: .3em;
  padding: 0 1em 0 2.5em;
  line-height: 3em;
  font-size: 14px;
  background: url('../images/arrow-right.png') no-repeat 1em center rgba(0,0,0,.05);
  background-size: 1em;
  display: inline-block;
}
.jumplist li a:hover {
  background-color: rgba(0,0,0,.07);
}

.jumplist li em {
	font-size: 18px;
}

ul.jumplist li a {
	color: #465b96;
}

ul.jumplist li a:hover {
	text-decoration: none;
}

.solinb .box {
	min-height: 225px;
	position: relative;
}

.solinb .box .smlbtnnew {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

/** REST **/

.newbtn:hover {
	color: #fff;
	background-color: #24920d;
	text-decoration: none;
}

.newbtn {
	background-color: #44920d;
	color: #fff;
	line-height: 2.5em;
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
	border-radius: 5px;
}

.newbtn.btninline {
	display: inline-block!important;
	padding: 0 2em;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: #999;
/*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
}

.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #777;
text-decoration: none;
/*text-shadow: 0 1px 0 #fff;*/
}

.btn.success {
background-color: #44920d;
border-top-color: #44920d;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#a8da4b), to(#44920d));
background-image: -moz-linear-gradient(top, #a8da4b, #44920d);
background-image: -ms-linear-gradient(top, #a8da4b, #44920d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8da4b), color-stop(100%, #44920d));
background-image: -webkit-linear-gradient(top, #a8da4b, #44920d);
background-image: -o-linear-gradient(top, #a8da4b, #44920d);
background-image: linear-gradient(top, #a8da4b, #44920d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8da4b', endColorstr='#44920d', GradientType=0);
box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn.primary, .btn.success {
text-align: center;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.1);
}


.navbar .btn, .navbar .btn-group {
margin-top: 5px;
}

.btn:first-child {
}

.nav>li>a {
display: block;
}

.navbar .btn {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}

.btn-success {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #5bb75b;
background-image: -moz-linear-gradient(top,#62c462,#51a351);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
background-image: -webkit-linear-gradient(top,#62c462,#51a351);
background-image: -o-linear-gradient(top,#62c462,#51a351);
background-image: linear-gradient(to bottom,#62c462,#51a351);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}


.navbar-fixed-top {
top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}

.navbar {
margin-bottom: 20px;
overflow: visible;
}

.navbar-inverse .navbar-inner {
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top,#222,#111);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
background-image: -webkit-linear-gradient(top,#222,#111);
background-image: -o-linear-gradient(top,#222,#111);
background-image: linear-gradient(to bottom,#222,#111);
background-repeat: repeat-x;
border-color: #252525;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding-right: 0;
padding-left: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-width: 0 0 1px;
}

.navbar-inner {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 980px;
}

.navbar .container {
width: auto;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 980px;
}

.container {
margin-right: auto;
margin-left: auto;
}


.navbar-fixed-top a.brand {
margin: 0;
padding: 0;
}

.navbar-inverse .brand {
color: #999;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: #999;
}

.navbar .brand {
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777;
}

.navbar-fixed-top ul.nav {
float: right;
margin: 0;
margin-top: 0;
}

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}

.nav {
margin-bottom: 20px;
margin-left: 0;
list-style: none;
}


.navbar .nav>li {
float: left;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: #999;
/*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
}





.navbar-fixed-top a.big {
font-size: 1.3em;
color: #fff !important;
}

.nav>li>a {
display: block;
}


body {
	padding-top: 100px;
	line-height: 1.5;
	background: #fff;
}

h1, h2, h3, h4 {

}

.kill-margins {
	margin: 0;
}

/* COPY */

blockquote p {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	line-height: 1.4;
}
blockquote {
	margin-top: 20px;
}

p, li {

}
li {
	line-height: 1.7;
}

.solsec {
	padding: 40px 0;
}

.solsec#main {
	padding: 40px 0;
}

.bsolb {
	margin: 20px 0 10px 0;
	line-height: 1.1em;
	font-size: 14px;
}

.btnblock {
	display: block;
}

.solbox p {
	margin: 0;
	opacity: .8;
}

.solbox ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
}

.solbox ul li:last-child {
	margin: 0;
}

.solbox ul li {
	color: rgba(255,255,255,0.8);
	line-height: 1.2em;
	margin-bottom: 1px;
	font-size: 14px;
	background-color: rgba(255,255,255,.1);
	padding: 10px 15px;
}

.solbox {
	background-color: #465b96;
	color: #fff;
	border-radius: 5px;
}

.solbox h3 {
	padding: 15px 20px;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	line-height: 1;
}

.solsec h2 {
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 10px 0!important;
}

.csright h3 {
	margin-bottom: 5px;
}

.type1 h2 {
	color: #60758B;
}

.solsec.type1 {
	background-color: #e8ecf0;
	color: #47525e;
}

.solsec .cscont {
	margin: 40px auto 0 auto;
	width: 960px;
	font-size: 14px;
  line-height: 1.4em;
}

.cscont .csleft img {
	border: 5px solid rgba(74, 86, 153, 0.1);
}

.solist1 {
	background-color: rgba(74, 86, 153, 0.07);
	padding: 0;
	margin: 0;
	list-style: none;
}

.solist1 li:last-child {
	border: 0;
}

.solist1 li {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 1.4em;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.cscont:before,
.cscont:after {
    content:"";
    display:table;
}
.cscont:after {
    clear:both;
}

.solsec .cscont .csleft, .solsec .cscont .csright {
	width: 445px;
	float: left;
}

.solsec .cscont .csleft {
	margin-right: 50px;
}

.solsec.type1 .focus {
	color: #47525e;
}

.solsec.type2 h2 {
	color: #555;
}

.solsec .focus {
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	width: 700px;
	margin: 0 auto;
}

.smlbtnnew:hover {
	text-decoration: none;
}

.smlbtnnew {
	display: inline-block;
	color: ;
}

.smlbtnnew2:hover {
	color: #fff;
	text-decoration: none;
	background-color: #24920d;
}

.smlbtnnew2 {
	display: inline-block;
	line-height: 2em;
	padding: 0 1em;
	background-color: #44920d;
	color: #fff!important;
	border-radius: 3px;
}

p.intro {
	font-size: 1.8em;
	margin-bottom: 20px;
	line-height: 1.2em;
}

h2.large {
	font-size: 24px;
	margin-bottom: 10px;
}

.solutions blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 0;
	top: -10px;
	line-height: 1em;
	font-family: Georgia;
	color: #7a7a7a;
}


.developers p, .docs .p, .docs li {
	font-size: 14px;
	color: #333;
	font-weight: normal;
}

/* GRID */

.row-grey .container {
	padding-top: 40px;
	padding-bottom: 30px;

}
.row-grey {
	background: #f7f7f7;
}
body#home-index, body#products {
	background: #f7f7f7;
}

/* LINKS */

a {
	color: #2678c2;
}
.link-chevron {
	padding-right: 25px;
	background: url("../images/chevron.png") right center no-repeat;
}
div p.link-chevron {
	color: #2678c2 !important;
}

/* BUTTONS */

.btn {
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.3);
}

/* TITLES */

h1 {
	font-size: 3.2em;
}
h2 {
	color: #000;
	font-size: 18px;
	line-height: 27px;
	margin-top: 40px;
}
h2.intro {
	color: #666;
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 20px;
}


/* BUTTONS */

.btn {
	border: none;
	border-radius: 2px;
	padding: 6px 30px 6px 30px;
}
.btn-chevron {
	color: #2678c2;
	font-weight: bold;
	font-size: 13px;
	background: url("../images/btn-chevron-bg.png") center right no-repeat;
}
.btn-chevron:hover {
	color: #2678c2;
	background: url("../images/btn-chevron-bg.png") center right no-repeat;
}

/* NAV */
/*
.navbar {
}
.navbar-inner {
	padding-top: 6px;
	padding-bottom: 6px;
	background: #202020;
}
.navbar .brand {
}
.navbar .nav {
	margin: 0;
}
.navbar .nav li a {

	color: #fff;
	font-size: 17px;
	font-weight: normal;
	margin-top: 13px;
	padding: 9px 13px 11px 4px;
}
.navbar .nav.pull-right li a {

}
.navbar .nav.pull-right .btn-success {
	padding : 5px 8px;
	font-size: 15px;
	margin-top: 16px;
}*/
/*.navbar .nav.pull-right li a {
	font-size: 14px;
	color: #bbb;
	padding-left: 7px;
}*/

/* HOME CAROUSEL BANNER */

#home-banner .banner {
	height: 283px;
}
.banner {
	height: 240px;
}
.banner-inner {
	padding-top: 30px;
}

#hero-itv { background: #000 url("../images/banner-news.jpg") top center no-repeat; }
#hero-broadcast { background: #000 url("../images/banner-broadcast.jpg") top center no-repeat; }
#hero-sport { background: #000 url("../images/banner-sport.jpg") top center no-repeat; }
#hero-ecommerce { background: #000 url("../images/banner-ecommerce.jpg") top center no-repeat; }
#hero-saas { background: #000 url("../images/banner-saas.jpg") top center no-repeat; }
#hero-social { background: #000 url("../images/banner-communication.png") top center no-repeat; }
#hero-brand { background: #000 url("../images/banner-brand.png") top center no-repeat; }

#hero-products-go { background: #000 url("../images/banner-products-go.jpg") top center no-repeat; }

#hero-platform { background: #000 url("../images/blue_grid.png") top left repeat-x; }
#hero-platform.banner {
	height: 295px;
}
#hero-platform.banner h1 {
	font-size: 43px;
	background: none;
	padding-left: 0;
}
#hero-platform.banner .intro {
	color: #fff;
	opacity: 0.9;
	font-size: 19px;
	font-weight: normal;
	background: none;
	padding-left: 0;
	line-height: 1.5;
	width: 500px;
	display: block;
}
#hero-platform .diagram {
	float: right;
}

.banner h1 {
	display: inline;
	color: #fff;
	font-weight: normal;
	line-height: 1.8;
	font-size: 2.5em;
	padding: 0.3em 0.6em;

	background: url("../images/pix-grey.png");
}
.banner .intro {
	display: inline;
	color: #ccc;
	line-height: 35px;
	font-size: 20px;
	padding: 0.3em 0.6em;
	background: url("../images/pix-grey.png");
}
.casestudy-preview {
	width: 830px;
	margin-top: 30px;
	margin-left: 0;
	padding: 15px;
	padding-left: 10px;
	background: url("../images/pix-grey.png");
}
.casestudy-preview p {
	color: #fff;
	float: left;
	width: 500px;
	font-size: 1.4em;
	margin-bottom: 0;
	padding-left: 170px;
	background: url("../images/itv.png") left center no-repeat;
}
.casestudy-preview .btn {
	float: right;
	margin-top: 10px;
	margin-right: 15px
}
.banner-subtext {
	width: 830px;
	margin-top: 20px;
	margin-left: 0;
	padding: 10px;
	padding-left: 10px;
	background: url("../images/pix-grey.png");
	color: #fff;
	font-size: 14px;
}
.banner-subtext p {
	color: #fff;
	float: left;
	font-size: 14px;
	margin-bottom: 0;
}
.banner-subtext .btn {
	float: right;
	margin-top: 2px;
}

/* BOX */

/*todo: make padding between both boxes larger*/
.home-box-row .span6 {
}
.box, .box-joined {
	margin-top: 20px;
	background: #fff;
	-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.box-inner, .box-joined-inner {
	padding: 15px 20px;
	padding-bottom: 8px;
}
.box a:hover, .box-joined a:hover {
	text-decoration: none;
}
.box h2, .box h3, .box-joined h2 {
	font-size: 18px;
	color: #333;
	margin-bottom: 0;
	margin-top: 0px;
}
.box p, .box-joined p, .prefoot p {
	color: #333;
	font-size: 13px;
}
.box p.link-chevron {
	text-align: right;
	margin-top: 15px;
}
.box-joined .btn-chevron {
	float: right;
}

/* LOGOS */

.logos {
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.3;
}
.logos .span2 {
	text-align: center;
}

/* PREFOOT */


.prefoot {
	background: #eee;
	padding: 20px 0px;
	margin-top: 20px;
}
.prefoot .dev-desc {
	float: left;
	width: 300px;
}
.prefoot h2 {
	font-size: 1.5em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.prefoot .dev-links {
	float: right;
}
.prefoot .dev-links li {
	text-align: right;
	list-style-type: none;
	padding-bottom: 7px;
}

/* FOOTER */
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
.footer {
	color: #aaa;
	padding: 25px 0px;
	font-size: 10px;
}
.margin-bottom {
	margin-bottom: 40px;
}
.footer-push {
    height: 120px;
}
.footer-push {
	height : 100px;
}
.footer ul {
	margin: 0;
}
.footer li {
	list-style-type: none;
}
.footer strong {
	font-size: 1.1em;
}
.footer a {
	color: #ccc;
}
.spanFooter {
	width : 123px;
	margin-left : 17px;
}
.newslettercol {
	width : 200px;
	margin-right: 20px;
}
.newslettercol .btn {
	padding : 4px 10px;
	float: right;
}
.newslettercol input[type=text] {
	width: 190px;
}
.contactcol {
	font-size: 0.9em;
}
.contactcol small {
	font-size: 0.9em;
}

/* PAGES: SOLUTIONS */
.row-grey .container {
	padding-bottom: 0px;
}
.box-side {
	margin-top: 0;
	padding-bottom: 15px;
}
.box-side h3 {
	font-size: 1.6em;
	margin-bottom: 10px;
}
.box-side .btn {
	font-size: 1.3em;
	width: 205px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	text-align: left;
}
.casestudy-large {
	background-color: #eee;
	font-size: 0.9em;
	padding: 15px 0px;
	margin-top: 20px;
}
.casestudy-large h2 {
	margin-top: 0px;
}
.casestudy-large .logo {
	float: right;
}
.casestudy-large .link-chevron {
	float: left;
	margin-top: 15px;
	font-size: 1.2em;
}

.casestudy-itv { background: #eee url("../images/itv-screenshot.jpg") top right no-repeat; }
.casestudy-getglue { background: #eee url("../images/getglue-screenshot.jpg") top right no-repeat; }
.casestudy-itvsport { background: #eee url("../images/itvsport-screenshot.jpg") top right no-repeat; }
.casestudy-sprintly { background: #eee url("../images/sprintly-screenshot.jpg") top right no-repeat; }
.casestudy-gauges { background: #eee url("../images/gauges-screenshot.jpg") top right no-repeat; }
.casestudy-intercom { background: #eee url("../images/intercom-screenshot.jpg") top right no-repeat; }
.casestudy-livestation { background: #eee url("../images/livestation-screenshot.jpg") top right no-repeat; }
.casestudy-ft { background: #eee url("../images/ft-screenshot.jpg") top right no-repeat; }
.casestudy-mole { background: #eee url("../images/mole-screenshot.jpg") top right no-repeat; }
.casestudy-tr { background: #eee url("../images/tr-screenshot.jpg") top right no-repeat; }
.casestudy-lequipe { background: #eee url("../images/lequipe-screenshot.jpg") top right no-repeat; }
.casestudy-preplay { background: #eee url("../images/preplay-screenshot.jpg") top right no-repeat; }
.casestudy-sportsru { background: #eee url("../images/sportsru-screenshot.jpg") top right no-repeat; }
.casestudy-xl { background: #eee url("../images/xl-screenshot.jpg") top right no-repeat; }
.casestudy-nike { background: #eee url("../images/nike-screenshot.jpg") top right no-repeat; }
.casestudy-deeplocal { background: #eee url("../images/deeplocal-screenshot.jpg") top right no-repeat; }
.casestudy-murally { background: #eee url("../images/murally-screenshot.jpg") top right no-repeat; }
.casestudy-uservoice { background: #eee url("../images/uservoice-screenshot.jpg") top right no-repeat; }
.casestudy-busuu { background: #eee url("../images/busuu-screenshot.jpg") top right no-repeat; }
.casestudy-askowls { background: #eee url("../images/askowls-screenshot.jpg") top right no-repeat; }
.casestudy-sprintly { background: #eee url("../images/sprintly-screenshot.jpg") top right no-repeat; }

.casestudy-small {
	background-color: #eee;
	font-size: 0.9em;
}
.casestudy-small-inner {
	padding: 15px 20px;
}
.casestudy-small h3 {
	margin-bottom: 10px;
}
.casestudy-small .logo {
	float: right;
}
.casestudy-small .link-chevron {
	float: left;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 1.2em;
}

/* PAGES: PRODUCTS */

#products .box-inner {
	position: relative;
	height: 530px;
	color: #999;
}
#products .box p {
	color: #333;
}
#products .box ul {
	margin-top: 1.1em;
}
#products .box li {
	color: #999;
	font-size: 15px;
}
#products .box .link-chevron {
	position: absolute;
	bottom: 7px;
	right: 17px;
}

.products .banner h1 {
	display: block;
	background: none;
	font-size: 4.2em;
	padding: 0;
	margin-top: 12px;
	line-height: 1;
	font-weight: bold;
}
.products .banner {
	height: 200px;
}
.products .banner p.intro {
	color: #fff;
	opacity: 0.7;
	background: none;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0;
}

/* PAGE: DEVELOPERS & DOCS */

.developers .main-content, .docs .main-content {
	margin-top: 30px;
}

.docs .navbar-fixed-top {
	position: absolute;
}
.docs h1 {
	font-size: 35px;
	margin-bottom: 20px;
}
.docs h2 {
	font-size: 27px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
}
.docs h3 {
	font-size: 23px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
}
.docs h4 {
	font-size: 19px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
.docs h5 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
.docs-sidebar {
	padding-top: 55px;
}
#developers .docs-sidebar {
	padding-top: 0px;
}
.docs-sidebar h3 {
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
}
.docs-sidebar h4 {
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 0;
	padding-left: 8px;
}
.docs-sidebar ul li {
	color: #bbb;
	list-style-type: none;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
}

.docs table {
	margin-bottom: 10px;
}
.docs table td {
	border-top: 1px solid #DDD;
}

.header-btn {
	float: right;
	font-size: 17px;
	padding: 12px 18px;
}

.link-box-row h2 {
	font-size: 25px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
}
.link-box-row	p {
	font-size: 14px;
	font-weight: normal;
}


.docs p.intro {
  font-size: 16px;
}

.docs .toc {
  margin-bottom: 2em;
  background-color: #F8F8F8;
  padding: 1em;
}

.docs p.intro + ul {
  margin: 20px 0 20px 0;
  background-color: #F8F8F8;
  border: 1px #CCC solid;
  padding: 20px 10px;
  margin: 20px 0 20px 0;
  padding-left: 20px;
  list-style-position: inside;
}

.toc ul,
ul.dynamic-toc {
  margin-bottom: 0;
}

#guide_toc {
  margin-bottom: 20px;
}

.toc .dynamictoc-filter {
  margin-bottom: 10px;
}

.toc .dynamictoc-filter label {
  margin-right: 10px;
  width: auto;
  font-weight: bold;
}

#docs-index .content .action {
  text-align: center;
}
#docs-index .content .action p {
  font-weight: bold;
}

.docs .modal {
  width: 1000px;
  height: 600px;
}

.docs .jsbin-embed {
  height: 90% !important;
}

.docs .modal-header button.close {
  line-height: normal !important;
  margin-top: 4px;
}

.docs .modal-body {
  padding-top: 0;
}

/* div.code for doc stuff */

code, pre {
}
code {
	color: #333;
	background-color: #FFF7E2;
	border: none;
	font-size: 10px;
}
div.code {
  margin-bottom: 1.43em;
}
div.code ul {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}
div.code li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
div.code li a {
  color: #bbb;
  background: #f9f9f9;
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0px 6px;
}
div.code li a.active {
  color: #fff;
  background: #aaa;
}
div.code pre code {
  padding-left: 0;
}
pre code {
 background-color: #F9F9F9;
}
pre {
  background: #F9F9F9;
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
  white-space: pre;
  clear: left;
}

/* TUTORIALS */

.guide {
	margin-bottom: 20px;
}

.guide .btn {
	float: right;
}

.tutorials .guide.has-logo {
  background-repeat: no-repeat;
  background-position: 99% 8px;
  background-size: 150px;
}

.tutorials .guide.has-logo p {
  margin-right: 170px !important;
}

.tutorials .guide.nettuts {
  background-image: url(../images/tutorials/net-tuts.png);
  background-position: 99% 17px;
}

.tutorials .guide.netmag {
  background-image: url(../images/tutorials/netmag-logo.png);
}

.tutorials .guide.smashing {
  background-image: url(../images/tutorials/smashing_mag.png);
}

.tutorials .guide.twilio {
  background-image: url(../images/tutorials/twilio-logo.png);
}

.tutorials .guide.web-resources-depot {
  background-image: url(../images/tutorials/web-resources-depot.png);
}

.tutorials .video a img {
	width: 300px;
}
.tutorials .video h3 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 20px;
}

/* HOMEPAGE */

.homepage-fold {
	background: #eee;
	padding : 10px 0 20px 0;
}

.homepage-fold h2, .homepage-fold h3 {
	color: #444;
	text-align: left;
	margin: 15px 0 10px 0;
}
.homepage-fold h3 {
	font-size: 22px;
}
.homepage-choice {
	text-align: center;
	margin: 30px 0 0 0;
	color: #444;
	font-size: 27px;
	font-weight: strong;
}
.homepage-choice .pull-left,
.homepage-choice .pull-right {
	width: 165px;
}
.homepage-choice .pull-left {
	margin-left: 210px;
}
.homepage-choice .pull-right {
	margin-right: 210px;
}

.value-proposition {
	text-align: center;
	margin: 20px 0;
}
.value-proposition h3 {
	margin-bottom: 5px;
}
.value-proposition p {
	font-size: 14px;
	padding: 0 5px;
}

/* SOLUTIONS */

.carousel-container {
	margin-top: 0px;
	background: #eee;
}

.carousel-container .item {
	height: 270px;
}

.carousel-container .carousel-caption {
	background: transparent;
	padding: 0;
	top: -80px;
	left: 80px;
	position: relative;
}

.carousel-caption h1 {
	display: inline;
	color: #fff;
	font-weight: normal;
	line-height: 1.8;
	font-size: 2.5em;
	padding: 0.3em 0.6em;
	background: url("../images/pix-grey.png");
}

/* DEV CENTER */

.dev-header {
	padding-top: 40px;
	margin-bottom: -30px;
}
.dev-center h2 {
	color : #444;
	margin : 0 0 5px 0;
}

.dev-center textarea {
	width: 100%;
	height: 148px;
}

.code-exemple {
	margin: 0;
	width: 280px;
	padding-right: 10px;
}
.box-side .nav {
	margin-bottom: 0;
}
.box-side .tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 5px;
}
.box-side .nav-tabs {
	font-size: 11px;
}
.box-side  .nav-tabs > li > a {
	padding: 2px 6px;
}

.happy-customers {
	text-align: center;
}
.happy-customers h2 {
	font-weight: normal;
	color: #515151;
	margin: 30px 0 15px 0;
	text-align: left;
}
.happy-customers .thumbnails, .happy-customers .thumbnails li {
	margin-bottom: 0;
}
.happy-customers .btn-success {
	margin: 20px auto 0 auto;
}

/* PRICING */
.pricing-header {
	padding-top: 40px;
	margin-bottom: 0px;
}
.row-grey .pricing {
	padding-top: 30px;
}
.pricing .nav {
	margin-bottom: 0;
}
.pricing .nav-tabs > li:first-child {
	margin-left: 320px;
}
.pricing  .nav-tabs > li > a {
	padding: 10px 45px;
	font-size: 20px;
}
.pricing .tab-content {
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 20px;
	margin-bottom: 30px;
}
.pricing .plan {
	background: #d2eafe;
	color: #d2eafe;
	width: 148px;
	height: 330px;
	border: 1px solid #6a9fcc;
	border-left: 0px;
	float: left;
	margin : 20px 0 40px 0;
	padding: 15px;
	text-align: center;
}
.plan-header h1 {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: #333;
}
.plan-header h2 {
	margin: 4px 0 10px 0;
	font-size: 18px;
	font-weight: normal;
	color: #555;
	line-height: 18px;
}
.plan-header p {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #358ed2;
}
.plan-details {
	border-top: 1px solid #bbb;
	margin: 15px 0 0 0;
	list-style-type: none;
	padding-top: 10px;
}
.plan-details li {
	font-size: 15px;
	line-height: 15px;
	margin: 10px 0;
	font-weight: normal;
}
.plan-details strong {
	color: #d14;
	font-weight: normal;
}
.plan-details .btn {
	margin : 10px 0 15px 0;
}
.best-value .plan-details {
	margin: 35px 0 0 0;
}
.pricing .best-value {
	margin: 0 0 20px 0;
	height: 370px;
	border: 1px solid #6a9fcc;
	-moz-box-shadow: 0px 2px 7px #999;
	-webkit-box-shadow: 0px 2px 7px #999;
	box-shadow: 0px 2px 7px #999;
}
.pricing .best-value .btn { font-size: 15px; }
.pricing .best-value h1 { font-size: 35px; }
.pricing .best-value h2 { font-size: 20px; }
.pricing .first-plan {
	border-left: 1px solid #6a9fcc;
	border-right: 0;
}
.free-offer {
	margin: 0;
}

#pricing-enterprise .btn-success {
	font-size: 24px;
	padding: 12px 20px;
}
#pricing-enterprise h1 {
	margin: 0 0 10px 0;
}
#pricing-enterprise h2 {
	margin: 0 0 10px 0;
	font-weight: normal;
	color: #515151;
}
#pricing-enterprise .span6 {
	margin: 10px 0;
	width : 449px;
}
#pricing-enterprise .span6 img {
	margin: 0 15px 0 0;
}
.get-in-touch {
	text-align: center;
	width: 100%;
}
.answer p {
	font-size: 13px;
}

/* CONTACT US */

.contact-us p {
	margin: 0 25px 10px 25px;
}

.contact-form {
	overflow: hidden;
}

.contact-form input[type=text] {
	width: 570px;
	font-size: 17px;
	line-height: 22px;
	height: 22px;
}

.contact-form textarea {
	width: 570px;
	font-size: 15px;
	line-height: 16px;
	height: 110px;
}

.contact-form .btn {
	font-size: 17px;
	margin-bottom: 8px;
}

/* SIGN UP */

.signup-form {
	overflow: hidden;
	height: 300px;
	margin-bottom: 20px;
}

.signup-form input[type=text], .signup-form input[type=password] {
	width: 490px;
	font-size: 17px;
	line-height: 22px;
	height: 22px;
	margin-top: 8px;
}

.signup-form .btn {
	font-size: 19px;
	margin-bottom: 8px;
}

.signup-form .help-block {
	display: block;
	margin-bottom: 8px;
	margin-top: 27px;
	color: #888;
	text-align: right;
}

.signup-sidebar {
	margin-top: 17px;
}

.signup-sidebar .selling-point {
	margin-bottom: 15px;
}

.signup-sidebar .selling-point img {
	float: left;
	margin : 0 15px 0 0;
}

.signup-sidebar .selling-point p {
	font-size: 15px;
}

.family h3 {
	margin-left: 90px;
}

.family .logos {
	margin: 0;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 980px;
}

.navbar .container {
width: auto;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 980px;
}



#nav_signup, .signup_button {
  background-color: #eb0752;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  padding: 10px 25px;
  line-height: 1.42857143;
  margin-right: 10px;
  margin-left: 16px;
}

#nav_signupL:hover, .signup_button:hover {
  color: #fff !important;
  background-color: #fb3568;
  transition: background 0.4s ease 0s;
}



.navbar .nav > li > a {
  padding: 2px 9px 0px;
  text-shadow: none;
  line-height: 64px;
  color: #d9e9ed;
  font-size: 14px;
}

.navbar .nav > li > a:hover {
  color: #eb0752;
 }


 .navbar .brand {
  line-height: 64px;
 }

 .full-logo {
  margin-top: 11px;
}

.navbar-fixed-top .navbar-inner {
  border-width: 0 !important;
  background: #27343d !important;
}
.navbar-fixed-top .container {
  width: 1140px;
  padding-top: 0;
}

.navbar-fixed-top a {
  color: #fff;
  font-size: 14px;
}

.nav-item {
  padding: 0px 3px;
}

#nav_signup:hover, .signup_button:hover {
  border-color: #fb3568;
  background-color: #fb3568;
  transition: background 0.4s ease 0s;
}

.footer-container {
  width: 1140px;
}

.header-text {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
}

.header-text em {
  font-weight: 100;
}

p.intro {
  margin-bottom: 5px;
  font-size: 28px;
}

p.intro-subheading {
  font-size: 16px;
  letter-spacing: 1.4px;
}

.btn-wide {
  width: 220px;
}

.btn-clear {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: white;
  line-height: 31px;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 100;
}

.btn-clear:hover {
  color: #4AABBF;
  background-color: white;
  transition: background 0.4s ease 0s;
}

.footer-call-text {
  text-align: center;
  color: #FFFFFF;
  padding-top: 80px;
}

.footer-call {
  font-size: 28px;
  font-weight: 300;
}

.footer-call em {
  font-weight: 100;
}

.footer-call-subheading {
  font-size: 16px;
  letter-spacing: 1.4px;
  font-weight: 100;
}

.red-accent {
  color: #EB0752;
}

.footer {
  position: absolute;
  margin: 51px auto 0;
  padding: 0;
  height: 71px;
  font-size: 13px;
  background-color: #27343d;
  font-size: 12px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #3b4850;
  width: 100%;
}

.footer-contents {
  padding-top: 17px;
}

.footer p {
  color: #5c6266;
}

.footer .pull-right a {
  padding-right: 10px;
  text-decoration: none;
  color: #2B7384;
  -webkit-transition: color 0.20s ease-in-out;
  -moz-transition: color 0.20s ease-in-out;
  -ms-transition: color 0.20s ease-in-out;
  -o-transition: color 0.20s ease-in-out;
  transition: color 0.20s ease-in-out;
}