@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon45bc.eot?-dab6f2');
  src:url('../fonts/icomoond41d.eot?#iefix-dab6f2') format('embedded-opentype'),
    url('../fonts/icomoon45bc.woff?-dab6f2') format('woff'),
    url('../fonts/icomoon45bc.ttf?-dab6f2') format('truetype'),
    url('../fonts/icomoon45bc.svg?-dab6f2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-female:before {
  content: "\21";
}
.icon-user-follow:before {
  content: "\22";
}
.icon-user-following:before {
  content: "\23";
}
.icon-user-unfollow:before {
  content: "\24";
}
.icon-trophy:before {
  content: "\25";
}
.icon-screen-smartphone:before {
  content: "\26";
}
.icon-screen-desktop:before {
  content: "\27";
}
.icon-plane:before {
  content: "\28";
}
.icon-notebook:before {
  content: "\29";
}
.icon-moustache:before {
  content: "\2a";
}
.icon-mouse:before {
  content: "\2b";
}
.icon-magnet:before {
  content: "\2c";
}
.icon-energy:before {
  content: "\2d";
}
.icon-emoticon-smile:before {
  content: "\2e";
}
.icon-disc:before {
  content: "\2f";
}
.icon-cursor-move:before {
  content: "\30";
}
.icon-crop:before {
  content: "\31";
}
.icon-credit-card:before {
  content: "\32";
}
.icon-chemistry:before {
  content: "\33";
}
.icon-user:before {
  content: "\34";
}
.icon-speedometer:before {
  content: "\35";
}
.icon-social-youtube:before {
  content: "\36";
}
.icon-social-twitter:before {
  content: "\37";
}
.icon-social-tumblr:before {
  content: "\38";
}
.icon-social-facebook:before {
  content: "\39";
}
.icon-social-dropbox:before {
  content: "\3a";
}
.icon-social-dribbble:before {
  content: "\3b";
}
.icon-shield:before {
  content: "\3c";
}
.icon-screen-tablet:before {
  content: "\3d";
}
.icon-magic-wand:before {
  content: "\3e";
}
.icon-hourglass:before {
  content: "\3f";
}
.icon-graduation:before {
  content: "\40";
}
.icon-ghost:before {
  content: "\41";
}
.icon-game-controller:before {
  content: "\42";
}
.icon-fire:before {
  content: "\43";
}
.icon-eyeglasses:before {
  content: "\44";
}
.icon-envelope-open:before {
  content: "\45";
}
.icon-envelope-letter:before {
  content: "\46";
}
.icon-bell:before {
  content: "\47";
}
.icon-badge:before {
  content: "\48";
}
.icon-anchor:before {
  content: "\49";
}
.icon-wallet:before {
  content: "\4a";
}
.icon-vector:before {
  content: "\4b";
}
.icon-speech:before {
  content: "\4c";
}
.icon-puzzle:before {
  content: "\4d";
}
.icon-printer:before {
  content: "\4e";
}
.icon-present:before {
  content: "\4f";
}
.icon-playlist:before {
  content: "\50";
}
.icon-pin:before {
  content: "\51";
}
.icon-picture:before {
  content: "\52";
}
.icon-map:before {
  content: "\53";
}
.icon-layers:before {
  content: "\54";
}
.icon-handbag:before {
  content: "\55";
}
.icon-globe-alt:before {
  content: "\56";
}
.icon-globe:before {
  content: "\57";
}
.icon-frame:before {
  content: "\58";
}
.icon-folder-alt:before {
  content: "\59";
}
.icon-film:before {
  content: "\5a";
}
.icon-feed:before {
  content: "\5b";
}
.icon-earphones-alt:before {
  content: "\5c";
}
.icon-earphones:before {
  content: "\5d";
}
.icon-drop:before {
  content: "\5e";
}
.icon-drawer:before {
  content: "\5f";
}
.icon-docs:before {
  content: "\60";
}
.icon-directions:before {
  content: "\61";
}
.icon-direction:before {
  content: "\62";
}
.icon-diamond:before {
  content: "\63";
}
.icon-cup:before {
  content: "\64";
}
.icon-compass:before {
  content: "\65";
}
.icon-call-out:before {
  content: "\66";
}
.icon-call-in:before {
  content: "\67";
}
.icon-call-end:before {
  content: "\68";
}
.icon-calculator:before {
  content: "\69";
}
.icon-bubbles:before {
  content: "\6a";
}
.icon-briefcase:before {
  content: "\6b";
}
.icon-book-open:before {
  content: "\6c";
}
.icon-basket-loaded:before {
  content: "\6d";
}
.icon-basket:before {
  content: "\6e";
}
.icon-bag:before {
  content: "\6f";
}
.icon-action-undo:before {
  content: "\70";
}
.icon-action-redo:before {
  content: "\71";
}
.icon-wrench:before {
  content: "\72";
}
.icon-umbrella:before {
  content: "\73";
}
.icon-trash:before {
  content: "\74";
}
.icon-tag:before {
  content: "\75";
}
.icon-support:before {
  content: "\76";
}
.icon-size-fullscreen:before {
  content: "\77";
}
.icon-size-actual:before {
  content: "\78";
}
.icon-shuffle:before {
  content: "\79";
}
.icon-share-alt:before {
  content: "\7a";
}
.icon-share:before {
  content: "\7b";
}
.icon-rocket:before {
  content: "\7c";
}
.icon-question:before {
  content: "\7d";
}
.icon-pie-chart:before {
  content: "\7e";
}
.icon-pencil:before {
  content: "\7f";
}
.icon-note:before {
  content: "\80";
}
.icon-music-tone-alt:before {
  content: "\81";
}
.icon-music-tone:before {
  content: "\82";
}
.icon-microphone:before {
  content: "\83";
}
.icon-loop:before {
  content: "\84";
}
.icon-logout:before {
  content: "\85";
}
.icon-login:before {
  content: "\86";
}
.icon-list:before {
  content: "\87";
}
.icon-like:before {
  content: "\88";
}
.icon-home:before {
  content: "\89";
}
.icon-grid:before {
  content: "\8a";
}
.icon-graph:before {
  content: "\8b";
}
.icon-equalizer:before {
  content: "\8c";
}
.icon-dislike:before {
  content: "\8d";
}
.icon-cursor:before {
  content: "\8e";
}
.icon-control-start:before {
  content: "\8f";
}
.icon-control-rewind:before {
  content: "\90";
}
.icon-control-play:before {
  content: "\91";
}
.icon-control-pause:before {
  content: "\92";
}
.icon-control-forward:before {
  content: "\93";
}
.icon-control-end:before {
  content: "\94";
}
.icon-calendar:before {
  content: "\95";
}
.icon-bulb:before {
  content: "\96";
}
.icon-bar-chart:before {
  content: "\97";
}
.icon-arrow-up:before {
  content: "\98";
}
.icon-arrow-right:before {
  content: "\99";
}
.icon-arrow-left:before {
  content: "\9a";
}
.icon-arrow-down:before {
  content: "\9b";
}
.icon-ban:before {
  content: "\9c";
}
.icon-bubble:before {
  content: "\9d";
}
.icon-camcorder:before {
  content: "\9e";
}
.icon-camera:before {
  content: "\9f";
}
.icon-check:before {
  content: "\a0";
}
.icon-clock:before {
  content: "\a1";
}
.icon-close:before {
  content: "\a2";
}
.icon-cloud-download:before {
  content: "\a3";
}
.icon-cloud-upload:before {
  content: "\a4";
}
.icon-doc:before {
  content: "\a5";
}
.icon-envelope:before {
  content: "\a6";
}
.icon-eye:before {
  content: "\a7";
}
.icon-flag:before {
  content: "\a8";
}
.icon-folder:before {
  content: "\a9";
}
.icon-heart:before {
  content: "\aa";
}
.icon-info:before {
  content: "\ab";
}
.icon-key:before {
  content: "\ac";
}
.icon-link:before {
  content: "z";
}
.icon-lock:before {
  content: "\ae";
}
.icon-lock-open:before {
  content: "\af";
}
.icon-magnifier:before {
  content: "\b0";
}
.icon-magnifier-add:before {
  content: "\b1";
}
.icon-magnifier-remove:before {
  content: "\b2";
}
.icon-paper-clip:before {
  content: "\b3";
}
.icon-paper-plane:before {
  content: "\b4";
}
.icon-plus:before {
  content: "\b5";
}
.icon-pointer:before {
  content: "\b6";
}
.icon-power:before {
  content: "\b7";
}
.icon-refresh:before {
  content: "\b8";
}
.icon-reload:before {
  content: "\b9";
}
.icon-settings:before {
  content: "\ba";
}
.icon-star:before {
  content: "\bb";
}
.icon-symbol-female:before {
  content: "\bc";
}
.icon-symbol-male:before {
  content: "\bd";
}
.icon-target:before {
  content: "\be";
}
.icon-volume-1:before {
  content: "\bf";
}
.icon-volume-2:before {
  content: "\c0";
}
.icon-volume-off:before {
  content: "\c1";
}
.icon-users:before {
  content: "\c2";
}