
.dropdown-menu .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F5F5F5;
    color: #262626;
    text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    cursor: not-allowed;
    text-decoration: none;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0 none;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    color: #999999;
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    padding: 3px 20px;
}
.dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid;
    border-top: 0 none;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}
.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    float: left;
    position: relative;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    z-index: 2;
}
.btn-group > .btn:focus, .btn-group-vertical > .btn:focus {
    outline: 0 none;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-toolbar {
    margin-left: -5px;
}
.btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left;
}
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group > .btn-group {
    float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn-group.open .dropdown-toggle.btn-link {
    box-shadow: none;
}
.btn .caret {
    margin-left: 0;
}
.btn-lg .caret {
    border-width: 5px 5px 0;
}
.dropup .btn-lg .caret {
    border-width: 0 5px 5px;
}
.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
}
.btn-group-vertical > .btn-group > .btn {
    float: none;
}
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group-justified {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}
.btn-group-justified > .btn-group .btn {
    width: 100%;
}
[data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    display: none;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.input-group[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
.input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33;
    padding: 10px 16px;
}

select.input-group-lg > .form-control, select.input-group-lg > .input-group-addon, select.input-group-lg > .input-group-btn > .btn {
    height: 46px;
    line-height: 46px;
}
textarea.input-group-lg > .form-control, textarea.input-group-lg > .input-group-addon, textarea.input-group-lg > .input-group-btn > .btn, select.input-group-lg[multiple] > .form-control, select.input-group-lg[multiple] > .input-group-addon, select.input-group-lg[multiple] > .input-group-btn > .btn {
    height: auto;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}
select.input-group-sm > .form-control, select.input-group-sm > .input-group-addon, select.input-group-sm > .input-group-btn > .btn {
    height: 30px;
    line-height: 30px;
}
textarea.input-group-sm > .form-control, textarea.input-group-sm > .input-group-addon, textarea.input-group-sm > .input-group-btn > .btn, select.input-group-sm[multiple] > .form-control, select.input-group-sm[multiple] > .input-group-addon, select.input-group-sm[multiple] > .input-group-btn > .btn {
    height: auto;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.input-group-addon {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.input-group-addon.input-sm {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
}
.input-group-addon.input-lg {
    border-radius: 6px;
    font-size: 18px;
    padding: 10px 16px;
}
.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
    margin-top: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon:first-child {
    border-right: 0 none;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon:last-child {
    border-left: 0 none;
}
.input-group-btn {
    font-size: 0;
    position: relative;
    white-space: nowrap;
}
.input-group-btn > .btn {
    position: relative;
}
.input-group-btn > .btn + .btn {
    margin-left: -1px;
}
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
    z-index: 2;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: -1px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}
.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav > li {
    display: block;
    position: relative;
    padding: 4px 0 4px 4px;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav > li.disabled > a {
    color: #999999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    cursor: not-allowed;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #EEEEEE;
    border-color: #428BCA;
}
.nav .nav-divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}
.nav-tabs > li > a:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    left: auto;
    top: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #DDDDDD;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #DDDDDD;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #FFFFFF;
    }
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 4px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 2px;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
    left: auto;
    top: auto;
}
@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-justified {
    border-bottom: 0 none;
}
.nav-tabs-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
}
.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
    border: 1px solid #DDDDDD;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #DDDDDD;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #FFFFFF;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.nav-tabs .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
.navbar {
    border: 1px solid rgba(0, 0, 0, 0);
    min-height: 60px;
    position: relative;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
.navbar-collapse {
    border-top: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;

}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar-collapse {
        border-top: 0 none;
        box-shadow: none;
        width: auto;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        overflow: visible !important;
        padding-bottom: 0;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
    }
}
.navbar-static-top {
    border-width: 0 0 1px;
    z-index: 1000;
}
@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
    }
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
.navbar-fixed-bottom {
    border-width: 1px 0 0;
    bottom: 0;
    margin-bottom: 0;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    margin-top: 0;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}
.navbar-toggle:focus {
    outline: 0 none;
}
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: rgba(0, 0, 0, 0);
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding: 15px 10px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }
}
.navbar-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 8px -15px;
    padding: 10px 15px;
}
@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        vertical-align: middle;
        width: auto;
    }
    .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio, .navbar-form .checkbox {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) {
    .navbar-form {
        border: 0 none;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }
}
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-btn {
    margin-bottom: 8px;
    margin-top: 8px;
}

.btn-sticky {
    background-color: #eb0752;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-right: 0;
    padding: 10px 25px;
}

.btn-sticky:hover{
    background-color: #fb3568;
    color: #FFFFFF;
    transition: background 0.4s ease 0s;
}

.navbar-btn.btn-sm {
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-btn.btn-xs {
    margin-bottom: 14px;
    margin-top: 14px;
}
.navbar-text {
    margin-bottom: 15px;
    margin-top: 15px;
}
@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
    color: #777777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-default .navbar-text {
    color: #777777;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #333333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #CCCCCC;
}
.navbar-default .navbar-toggle {
    border-color: #DDDDDD;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #DDDDDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888888;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: rgba(0, 0, 0, 0);
        color: #333333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #E7E7E7;
        color: #555555;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        background-color: rgba(0, 0, 0, 0);
        color: #CCCCCC;
    }
}
.navbar-default .navbar-link {
    color: #777777;
}
.navbar-default .navbar-link:hover {
    color: #eb0752;
}
.navbar-inverse {
    font-size: 15px;
    font-weight: 400;
}
.navbar-inverse .navbar-brand {
    color: #999999;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #eb0752;
}
.navbar-inverse .navbar-text {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #d9e9ed;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #eb0752;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #eb0752;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #444444;
}
.navbar-inverse .navbar-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #FFFFFF;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: rgba(0, 0, 0, 0);
        color: #FFFFFF;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #080808;
        color: #FFFFFF;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        background-color: rgba(0, 0, 0, 0);
        color: #444444;
    }
}
.navbar-inverse .navbar-link {
    color: #999999;
}
.navbar-inverse .navbar-link:hover {
    color: #FFFFFF;
}
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb > .active {
    color: #999999;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #428BCA;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    color: #2A6496;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #999999;
    cursor: not-allowed;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 18px;
    padding: 10px 16px;
}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a, .pagination-sm > li > span {
    font-size: 12px;
    padding: 5px 10px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pager {
    list-style: none outside none;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a, .pager li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}
.pager li > a:hover, .pager li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
}
.pager .next > a, .pager .next > span {
    float: right;
}
.pager .previous > a, .pager .previous > span {
    float: left;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    background-color: #FFFFFF;
    color: #999999;
    cursor: not-allowed;
}
.label {
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.label[href]:hover, .label[href]:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label:empty {
    display: none;
}
.btn .label {
    position: relative;
    top: -1px;
}
.label-default {
    background-color: #999999;
}
.label-default[href]:hover, .label-default[href]:focus {
    background-color: #808080;
}
.label-primary {
    background-color: #428BCA;
}
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #3071A9;
}
.label-success {
    background-color: #5CB85C;
}
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #449D44;
}
.label-info {
    background-color: #5BC0DE;
}
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #31B0D5;
}
.label-warning {
    background-color: #F0AD4E;
}
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #EC971F;
}
.label-danger {
    background-color: #D9534F;
}
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #C9302C;
}
.badge {
    background-color: #999999;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.badge:empty {
    display: none;
}
.btn .badge {
    position: relative;
    top: -1px;
}
.btn-xs .badge {
    padding: 1px 5px;
    top: 0;
}
a.badge:hover, a.badge:focus {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    background-color: #FFFFFF;
    color: #428BCA;
}
.nav-pills > li > a > .badge {
    margin-left: 3px;
}
.jumbotron {
    background-color: #EEEEEE;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px;
}
.jumbotron h1, .jumbotron .h1 {
    color: inherit;
}
.jumbotron p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;
}
.container .jumbotron {
    border-radius: 6px;
}
.jumbotron .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-bottom: 48px;
        padding-top: 48px;
    }
    .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 63px;
    }
}
.thumbnail {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.thumbnail > img, .thumbnail a > img {
    margin-left: auto;
    margin-right: auto;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #428BCA;
}
.thumbnail .caption {
    color: #333333;
    padding: 9px;
}
.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert .alert-link {
    font-weight: 700;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable {
    padding-right: 35px;
}
.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
.alert-success hr {
    border-top-color: #C9E2B3;
}
.alert-success .alert-link {
    color: #2B542C;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.alert-info hr {
    border-top-color: #A6E1EC;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.alert-warning hr {
    border-top-color: #F7E1B5;
}
.alert-warning .alert-link {
    color: #66512C;
}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.alert-danger hr {
    border-top-color: #E4B9C0;
}
.alert-danger .alert-link {
    color: #843534;
}
@-moz-keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}
.progress {
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.progress-bar {
    background-color: #428BCA;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite progress-bar-stripes;
}
.progress-bar-success {
    background-color: #5CB85C;
}
.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-info {
    background-color: #5BC0DE;
}
.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-warning {
    background-color: #F0AD4E;
}
.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-danger {
    background-color: #D9534F;
}
.progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.media, .media-body {
    overflow: hidden;
}
.media, .media .media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
.media-object {
    display: block;
}
.media-heading {
    margin: 0 0 5px;
}
.media > .pull-left {
    margin-right: 10px;
}
.media > .pull-right {
    margin-left: 10px;
}
.media-list {
    list-style: none outside none;
    padding-left: 0;
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
}
.list-group-item > .badge {
    float: right;
}
.list-group-item > .badge + .badge {
    margin-right: 5px;
}
a.list-group-item {
    color: #555555;
}
a.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F5F5F5;
    text-decoration: none;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    z-index: 2;
}
a.list-group-item.active .list-group-item-heading, a.list-group-item.active:hover .list-group-item-heading, a.list-group-item.active:focus .list-group-item-heading {
    color: inherit;
}
a.list-group-item.active .list-group-item-text, a.list-group-item.active:hover .list-group-item-text, a.list-group-item.active:focus .list-group-item-text {
    color: #E1EDF7;
}
.list-group-item-success {
    background-color: #DFF0D8;
    color: #3C763D;
}
a.list-group-item-success {
    color: #3C763D;
}
a.list-group-item-success .list-group-item-heading {
    color: inherit;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
    background-color: #D0E9C6;
    color: #3C763D;
}
a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    background-color: #3C763D;
    border-color: #3C763D;
    color: #FFFFFF;
}
.list-group-item-info {
    background-color: #D9EDF7;
    color: #31708F;
}
a.list-group-item-info {
    color: #31708F;
}
a.list-group-item-info .list-group-item-heading {
    color: inherit;
}
a.list-group-item-info:hover, a.list-group-item-info:focus {
    background-color: #C4E3F3;
    color: #31708F;
}
a.list-group-item-info.active, a.list-group-item-info.active:hover, a.list-group-item-info.active:focus {
    background-color: #31708F;
    border-color: #31708F;
    color: #FFFFFF;
}
.list-group-item-warning {
    background-color: #FCF8E3;
    color: #8A6D3B;
}
a.list-group-item-warning {
    color: #8A6D3B;
}
a.list-group-item-warning .list-group-item-heading {
    color: inherit;
}
a.list-group-item-warning:hover, a.list-group-item-warning:focus {
    background-color: #FAF2CC;
    color: #8A6D3B;
}
a.list-group-item-warning.active, a.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus {
    background-color: #8A6D3B;
    border-color: #8A6D3B;
    color: #FFFFFF;
}
.list-group-item-danger {
    background-color: #F2DEDE;
    color: #A94442;
}
a.list-group-item-danger {
    color: #A94442;
}
a.list-group-item-danger .list-group-item-heading {
    color: inherit;
}
a.list-group-item-danger:hover, a.list-group-item-danger:focus {
    background-color: #EBCCCC;
    color: #A94442;
}
a.list-group-item-danger.active, a.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus {
    background-color: #A94442;
    border-color: #A94442;
    color: #FFFFFF;
}
.list-group-item-heading {
    margin-bottom: 5px;
    margin-top: 0;
}
.list-group-item-text {
    line-height: 1.3;
    margin-bottom: 0;
}
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}
.panel > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item {
    border-radius: 0;
    border-width: 1px 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
    border-top: 0 none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0 none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel > .table, .panel > .table-responsive > .table {
    margin-bottom: 0;
}
.panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive {
    border-top: 1px solid #DDDDDD;
}
.panel > .table > tbody:first-child > tr:first-child th, .panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0 none;
}
.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: 0 none;
}
.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0 none;
}
.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0 none;
}
.panel > .table-bordered > thead > tr:first-child > td, .panel > .table-responsive > .table-bordered > thead > tr:first-child > td, .panel > .table-bordered > tbody > tr:first-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td, .panel > .table-bordered > thead > tr:first-child > th, .panel > .table-responsive > .table-bordered > thead > tr:first-child > th, .panel > .table-bordered > tbody > tr:first-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0 none;
}
.panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .panel > .table-bordered > tfoot > tr:last-child > td, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td, .panel > .table-bordered > tbody > tr:last-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .panel > .table-bordered > tfoot > tr:last-child > th, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0 none;
}
.panel > .table-responsive {
    border: 0 none;
    margin-bottom: 0;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    border-radius: 4px;
    margin-bottom: 0;
    overflow: hidden;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0 none;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #DDDDDD;
}
.panel-group .panel-footer {
    border-top: 0 none;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #DDDDDD;
}
.panel-default {
    border-color: #DDDDDD;
}
.panel-default > .panel-heading {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-primary {
    border-color: #428BCA;
}
.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #428BCA;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #428BCA;
}
.panel-success {
    border-color: #D6E9C6;
}
.panel-success > .panel-heading {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #D6E9C6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #D6E9C6;
}
.panel-info {
    border-color: #BCE8F1;
}
.panel-info > .panel-heading {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #BCE8F1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #BCE8F1;
}
.panel-warning {
    border-color: #FAEBCC;
}
.panel-warning > .panel-heading {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FAEBCC;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FAEBCC;
}
.panel-danger {
    border-color: #EBCCD1;
}
.panel-danger > .panel-heading {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #EBCCD1;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #EBCCD1;
}
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.well blockquote {
    border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
    border-radius: 6px;
    padding: 24px;
}
.well-sm {
    border-radius: 3px;
    padding: 9px;
}
.close {
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
.close:hover, .close:focus {
    color: #000000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.modal-open {
    overflow: hidden;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.modal.fade .modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}
.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal-header {
    border-bottom: 1px solid #E5E5E5;
    min-height: 16.4286px;
    padding: 15px;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
}
.modal-body {
    padding: 20px;
    position: relative;
}
.modal-footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
        width: 600px;
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.tooltip {
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    visibility: visible;
    z-index: 1030;
}
.tooltip.in {
    opacity: 0.9;
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    background-color: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.tooltip-arrow {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 5px;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    right: 5px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #000000;
    border-width: 5px 5px 5px 0;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #000000;
    border-width: 5px 0 5px 5px;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    left: 5px;
    top: 0;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    right: 5px;
    top: 0;
}
.popover {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    z-index: 1010;
}
.popover.top {
    margin-top: -10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -10px;
}
.popover-title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}
.popover-content {
    padding: 9px 14px;
}
.popover > .arrow, .popover > .arrow:after {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    border-width: 10px;
    content: "";
}
.popover.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
}
.popover.top > .arrow:after {
    border-bottom-width: 0;
    border-top-color: #FFFFFF;
    bottom: 1px;
    content: " ";
    margin-left: -10px;
}
.popover.right > .arrow {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.25);
    left: -11px;
    margin-top: -11px;
    top: 50%;
}
.popover.right > .arrow:after {
    border-left-width: 0;
    border-right-color: #FFFFFF;
    bottom: -10px;
    content: " ";
    left: 1px;
}
.popover.bottom > .arrow {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #FFFFFF;
    border-top-width: 0;
    content: " ";
    margin-left: -10px;
    top: 1px;
}
.popover.left > .arrow {
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
    margin-top: -11px;
    right: -11px;
    top: 50%;
}
.popover.left > .arrow:after {
    border-left-color: #FFFFFF;
    border-right-width: 0;
    bottom: -10px;
    content: " ";
    right: 1px;
}
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
.carousel-control:hover, .carousel-control:focus {
    color: #FFFFFF;
    opacity: 0.9;
    outline: 0 none;
    text-decoration: none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 50%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 50%;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
    font-family: serif;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
}
.carousel-control .icon-prev:before {
    content: "‹";
}
.carousel-control .icon-next:before {
    content: "›";
}
.carousel-indicators {
    bottom: 10px;
    left: 50%;
    list-style: none outside none;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    z-index: 15;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
    background-color: #FFFFFF;
    height: 12px;
    margin: 0;
    width: 12px;
}
.carousel-caption {
    bottom: 20px;
    color: #FFFFFF;
    left: 15%;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
.carousel-caption .btn {
    text-shadow: none;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        font-size: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.affix {
    position: fixed;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs, td.visible-xs {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm, td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md, td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg, td.visible-lg {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print, td.visible-print {
        display: table-cell !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}



/* Lauren's changes */

.btn-primary {
    background-color: #FF4081;
    color: #FFFFFF;
    border: 0;
    border-color: transparent;
}

.accent {
    color: #FF4081;
    font-style: italic;
    font-weight: 300;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn-outer-primary {
    width: 200px;
    border: 1px solid #eb0752;
    color: #fb3568;
    font-weight: 200;
    background: transparent;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    -moz-transition: background 0.2s;

}

.btn-outer-primary:hover {
    color: #fff;
    color: rgba(0, 0, 0, 0.5);
    background: #eb0752;
}

.btn-center {
    margin: 0 auto;
    display: block;
}

 body {
    color: #5A5A5A;
    background:url("../images/new_landing_page/code-back.jpg") no-repeat fixed;
    background-size:cover;
}

.benefits .header {
    margin-top: 0;
    margin-bottom: 40px;
}
.benefits .media-img {
    width: 82px;
    height: 82px;
    border-radius: 100%;
    background-color: #27343d;
    font-size: 32px;
    padding-top: 22px;
    text-align: center;
    margin: auto;
}

.benefits .media-img .glyphicon {
    color: white;
}

.featurette.examples {
    padding-top: 0;
}

.featurette.examples .featurette-heading {
    margin-top: 80px;
}

.featurette.made-easy .featurette-heading {
    margin-top: 0;
}


.about {
    margin-top: -60px;
    height: 600px;
    position: relative;
    width: 100%;
    background: #3e50b4;
    background: url('../images/new_landing_page/filas-12055964.png'), -webkit-radial-gradient(center, ellipse cover, #3F51B5 0%,#283593 80%);
    background: url('../images/new_landing_page/filas-12055964.png'), -moz-radial-gradient(center, ellipse cover, #3F51B5 0%,#283593 80%);
    background: url('../images/new_landing_page/filas-12055964.png'), -o-radial-gradient(center, ellipse cover, #3F51B5 0%,#283593 80%);
    background: url('../images/new_landing_page/filas-12055964.png'), -ms-radial-gradient(center, ellipse cover, #3F51B5 0%,#283593 80%);
    background: url('../images/new_landing_page/filas-12055964.png'), radial-gradient(center, ellipse cover, #3F51B5 0%,#283593 80%);
    background-size: cover;
    max-height: 1000px;
}

.curl-example {
    background: url('../images/new_landing_page/ipad_curl_example_background.png') no-repeat 1px center;
    background-size: cover;
    height: 450px;
    padding-left: 13%;
    width: 485px;
}

.curl-example .terminal {
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    width: 400px;
    margin-top: 120px;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    margin-top: 120px;
    box-shadow: -2px 2px 6px 0px #BDBDBD;
}

.curl-example .terminal .topbar {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 30px;
    background: rgb(81,81,81);
    background: -moz-linear-gradient(45deg, rgba(81,81,81,1) 0%, rgba(81,81,81,1) 50%, rgba(99,99,99,1) 50%, rgba(100,100,100,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(81,81,81,1)), color-stop(50%,rgba(81,81,81,1)), color-stop(50%,rgba(99,99,99,1)), color-stop(100%,rgba(100,100,100,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(81,81,81,1) 0%,rgba(81,81,81,1) 50%,rgba(99,99,99,1) 50%,rgba(100,100,100,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(81,81,81,1) 0%,rgba(81,81,81,1) 50%,rgba(99,99,99,1) 50%,rgba(100,100,100,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(81,81,81,1) 0%,rgba(81,81,81,1) 50%,rgba(99,99,99,1) 50%,rgba(100,100,100,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(81,81,81,1) 0%,rgba(81,81,81,1) 50%,rgba(99,99,99,1) 50%,rgba(100,100,100,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#646464',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.curl-example .terminal textarea {
    width: 100%;
    height: 230px;
    border: 0;
    resize: none;
    outline: none;
    border: none;
    color: #999;
    display: block;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 13px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 20px;
    background: #F5F5F5;
    border-left: 20px solid #cbcbcb;
    overflow: hidden;
}

.curl-example .terminal .circle {
    border-radius: 10px;
    height: 10px;
    width: 10px;
    float: left;
    margin: 10px 2px;
}


.terminal .circle:first-child {
    margin-left: 20px;
}

.terminal .circle.red {
    background: #ed554a;
}

.terminal .circle.yellow {
    background: #f8bc4e;
}

.terminal .circle.green {
    background: #00c47b;
}

.navbar-default {
    background: none;
    border: none;
    z-index: 9999;
}

.navbar-nav {
    margin: 0;
    transition: top 0.5s;
    -webkit-transition: top 0.5s; /* Safari */
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
}

.navbar-nav > li > a {
    padding: 20px 10px 0px;
}

.navbar-sticky {
    background: #27343d;
    border-radius: 0;
    margin-top: 0;
    z-index: 1049;
    border-bottom: 1px solid #3b4850;
    top:0 !important;
    transition: top 0.5s;
    -webkit-transition: top 0.5s; /* Safari */
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
}

.middle {
    background-color: #f4f4f4;
    min-width: 100%;
}

.featurettequote {
    color: #2992a9;
    background:#f4f4f4;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 1px 14px 6px 14px;
}

.featurettequote:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border-bottom-color: #f4f4f4;
    border-width: 19px;
    left: 20%;
    margin-left: -52px;
    top: -35px;
}

.white {
    background: #fff;
}

.white:before {
    border-bottom-color: #fff;
}

.featurettequote p {
    font-size: 17px;
    font-weight: 200;
    color: #2992a9;
    line-height: 1.3;
}

.featurettequote h3 {
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin-top: -4px;
}

.featurettequote .github-logo {
    margin-right: 15px;
}

.text-title{
    font-size: 110px;
}

.cbp-qtprogress {
    display: none;
}

.quotesection {
    text-align: center;
    max-width: 800px;
    margin: auto;
    height: 230px;
    padding: 60px 0 324px;
}

.fullbck-quote {
    background: #ffffff !important;
}


.sign-up {
    background-color: #27343d;
    background: url(../images/new_landing_page/footer-map.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 0 126px 0;
}

.sign-up .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.sign-up .form-group {
    margin-bottom: 0;
}

#signup-name {
    background: #ffffff url("../images/new_landing_page/form-name.jpg") no-repeat 8px center; background-size:24px 28px; ;
}

#signup-email {
    background: #ffffff url("../images/new_landing_page/form-email.jpg") no-repeat 8px center; background-size:24px 28px; ;
}

#signup-password {
    background: #ffffff url("../images/new_landing_page/form-password.jpg") no-repeat 8px center; background-size:24px 28px; ;
}

.sign-up input {
    border-radius: 3px;
    border: none;
    padding-left: 40px;
    color: #5C5C5C;
    font-size: 14px;
}
.sign-up .control-group {
    line-height: 14px;
}

.sign-up h2 {
    color: #f0f5f6;
    font-size: 32px;
    padding-top: 0;
    font-weight: 400;
}

.sign-up h3 {
    color: #f0f5f6;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2px;
    margin-top: 4px;
}

.sign-up p {
    color: #d2d2d2;
}

.sign-up h5 {
    color: #2992A9;
    font-size: 14px;
    font-weight: 200;
    margin-top: 4px;
    line-height: 1.5;
}

.sign-up ul {
    font-size: 16px;
    text-align: center;
}

.sign-up ul li {
    padding: 0 15px;
}

.sign-up ul img {
    height: 50px;
}

.sign-up small {
    display: block;
    text-align: center;
}


.fullbckgfooter {
    background-color: #27343d;
    padding-bottom: 6px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #3b4850;
    padding-top: 18px;
}

.fullbckgfooter p {
    color: #5c6266;
    padding-bottom: 20px;

}

.fullbckgfooter a {
    color:#357c8c;
    padding-right: 10px;

}

.featurette {
    padding: 100px 0 100px;
    background: #ffffff;
}

.fulllight {
    background-color: #f4f4f4;
    box-shadow: inset 0 0 0.8em #d8d8d8;
}

.quotesection h1 {
    text-align: center;
    font-family:Arial;
    font-size: 150px;
    color: #e2e8e9;
    margin-bottom: -110px;
}

.quotesection h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
}

.quotesection h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    color: #62696b;
}

.quotesection {
    text-align: center;
}

.rotate img {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.box:hover .rotate img{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate{
    bottom: 0;
    position: absolute;
    right:20px;
    padding: 0 10px 15px 0;
}

.cross {
    position:fixed;
    top:30px;
    right:5px;
}

.box {
    border: 1px solid;
    color: #f0f5f6;
    height: 296px;
    width: 358px;
    margin-top: 35px;
}

.box img {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    font-family: 'Bad Script';
    color: white;
}

.navbar-header .logo {
    font-size: 38px;
    line-height: 38px;
}
.navbar-header .logo-link {
    display: block;
    text-decoration: none;
    outline: none;
}

.logos {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.logos ul{
    text-align: center;
    padding: 0 0 10px 0;
    list-style-type: none;
}

li {
    padding: 0;
}

.logos img{
    margin: 10px 14px;
    width: 135px;
}

.logos ul li {
    display: inline;
}

.logos .itv-logo {
    width: 60px;
    margin: 10px 15px;
}

.logos .quizup-logo {
    width: 110px;
}

.logos .ft-logo {
    width: 150px;
}

.logos .mailchimp-logo {
    padding-top: 7px;
}

.about .about-content {
    height: 320px; /* 450px for mobile devices */
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.about-content h1 {
    font-family: "oswald";
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.about-content h2 {
    font-family: "oswald";
    font-size: 65px;
    font-weight: 400;
    margin-top: 14px;
}

.about-content .readmore {
    color: white;
}

.about-content .btn {
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
}

.about > .item > img {
    height: 500px;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}

.featurette-divider {
    margin: 60px 0;
}

.featurette-image{
    margin: 0 auto;
}

.featurette-heading {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.2;
}

.code-snippet, .examples {
    background: transparent;
}

.code-snippet .text-content {
    text-align: center;
    color: #fff;
}

.code-snippet h2 {
    font-weight: 100;
    color: #fff;
    line-height: 0.8;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.code-snippet h1 {
    font-size: 34px;
    font-weight: 300;
}

.code-snippet h2 span {
    font-size: 14px;
    font-weight: 200;
    color: #2992A9;
    text-transform: none;
}

.code-snippet .diagram-link-background {
    background: url('../images/new_landing_page/code-snippet-link.png') no-repeat center 80px;
    background-size: 230px;
}

.code-snippet .nav-tabs {
    background: #232f38;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0;
    margin-top: 20px;
}

.code-snippet img {
    height: 50px;
}

.code-snippet .nav-tabs li {
    border-right: 1px solid #3d4a53;
    height: 70px;
    width: 25%;
    margin: 0;
    padding: 10px;
}


/* Publish language icons */
.code-snippet .nav-tabs .curl {
    background: url("../images/new_landing_page/language-icons/curl-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .python {
    background: url("../images/new_landing_page/language-icons/python-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .php {
    background: url("../images/new_landing_page/language-icons/php-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .node {
    background: url("../images/new_landing_page/language-icons/nodejs-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .curl {
    background: url("../images/new_landing_page/language-icons/curl-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .python {
    background: url("../images/new_landing_page/language-icons/python-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .php {
    background: url("../images/new_landing_page/language-icons/php-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .node {
    background: url("../images/new_landing_page/language-icons/nodejs-code-hover.png") no-repeat center center;
}

/* Subscribe language icons */
.code-snippet .nav-tabs .javascript {
    background: url("../images/new_landing_page/language-icons/javascript-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .android {
    background: url("../images/new_landing_page/language-icons/android-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .ios {
    background: url("../images/new_landing_page/language-icons/ios-code.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .javascript {
    background: url("../images/new_landing_page/language-icons/javascript-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .android {
    background: url("../images/new_landing_page/language-icons/android-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs .active .ios {
    background: url("../images/new_landing_page/language-icons/ios-code-hover.png") no-repeat center center;
}

.code-snippet .nav-tabs a {
    background-size: contain !important;
    height: 45px;
    outline: none;
}

.code-snippet .nav-tabs > li > a { /* Reset bootstrap nav tabs */
    border: none;
    line-height: auto;
    margin-right: 0;
}

.code-snippet .nav-tabs li.active > a {
    border: none;
}

.code-snippet .nav-tabs li.active {
    border-bottom: 5px solid #2f9fb7;
}

.code-snippet .nav-tabs li.active:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border-top-color: #2f9fb7;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    top: 23px;
}

.code-snippet .tab-content {
    border-left: 20px solid #cbcbcb;
    border-bottom-left-radius: 3px;
    height: 250px;
    margin-bottom: 100px;
}



.code-snippet pre {
    background: #F5F5F5;
    padding: 0;
    margin: 0 !important;
    border-radius: 0;
    font-size: 13px;
    height: 250px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}


.cbp-qtrotator {
    z-index: 0;
}

@media (min-width: 768px) {
    .about-content p {
        font-size: 22px;
        margin: 10px auto 20px;
        font-weight: 300;
        width: 600px;
    }

    .middle {
        margin-top: 40px;
    }

    @media (min-width: 992px) {}
}


@media (min-width: 768px) and (max-width: 991px) {
    .btn-sticky {
        margin-right: 0;
        padding: 10px;
    }
    .navbar-nav > li > a {
        padding-right: 2px;
        padding-left: 2px;
    }
    .nav > li {
        padding: 0 4px;
    }
}

@media (max-width: 767px) {
    .about {
        margin-top: 0;
    }
    .navbar-nav > li > a {
        padding: 10px;
    }
    .nav > li {
        padding: 0 4px;
    }

    .about-content h1 {
        font-size: 20px;
    }

    .about-content h2 {
        font-size: 53px;
        margin-top: 0;
        padding: 0 10px;
    }

    .about-content p {
        font-size: 18px;
        margin-top: 0;
        padding: 0 20px;
        margin: 20px auto;
    }

    .made-easy .featurette-heading {
        margin-top: 0;
    }

    .featurette-heading {
        margin-top: 0;
    }

    .featurette-image {
        margin: 20px 0;
    }

    .sign-up {
        text-align: center;
    }
}


.in {
    overflow: hidden;
}

#animated-header {
    z-index: -10;
}

.push {
    height: 0 !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 44px;
  margin-bottom: 0;
}

.signup_form .btn {
    font-size: 16px;
    margin-top: 19px;
}

.signup-form-group {
    height: 56px;
}

.nav-tabs li:nth-of-type(4) {
    border-right: none;
}

@media (max-width: 991px) and (min-width: 768px) {
  .nav > li {
    padding: 0 2px;
  }
}